$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;
$size-6: 5rem;

$xxlScreen : 1440px;
$xlScreen : 1260px;
$lgScreen : 1080px;
$mlScreen : 900px;
$mdScreen : 720px;
$smScreen : 540px;
$xsScreen : 360px;
