@media only screen and (max-width: $xxlScreen){
    .fs025-xxl{
        font-size: 0.25rem !important;
    }
    .fs050-xxl{
        font-size: 0.50rem !important;
    }
    .fs075-xxl{
        font-size: 0.75rem !important;
    }
    .fs1-xxl{
        font-size: 1rem !important;
    }
    .fs125-xxl{
        font-size: 1.25rem !important;
    }
    .fs15-xxl{
        font-size: 1.5rem !important;
    }
    .fs2-xxl{
        font-size: 2rem !important;
    }
    .fs3-xxl{
        font-size: 3rem !important;
    }
    .fs4-xxl{
        font-size: 4rem !important;
    }
    .fs5-xxl{
        font-size: 5rem !important;
    }
    .fw100-xxl{
        font-weight: 100 !important;
    }
    .fw200-xxl{
        font-weight: 200 !important;
    }
    .fw300-xxl{
        font-weight: 300 !important;
    }
    .fw400-xxl{
        font-weight: 400 !important;
    }
    .fw500-xxl{
        font-weight: 500 !important;
    }
    .fw600-xxl{
        font-weight: 600 !important;
    }
    .fw700-xxl{
        font-weight: 700 !important;
    }
    .fw800-xxl{
        font-weight: 800 !important;
    }
    .fw900-xxl{
        font-weight: 900 !important;
    }
}
@media only screen and (max-width: $xlScreen){
    .fs025-xl{
        font-size: 0.25rem !important;
    }
    .fs050-xl{
        font-size: 0.50rem !important;
    }
    .fs075-xl{
        font-size: 0.75rem !important;
    }
    .fs1-xl{
        font-size: 1rem !important;
    }
    .fs125-xl{
        font-size: 1.25rem !important;
    }
    .fs15-xl{
        font-size: 1.5rem !important;
    }
    .fs2-xl{
        font-size: 2rem !important;
    }
    .fs3-xl{
        font-size: 3rem !important;
    }
    .fs4-xl{
        font-size: 4rem !important;
    }
    .fs5-xl{
        font-size: 5rem !important;
    }
    .fw100-xl{
        font-weight: 100 !important;
    }
    .fw200-xl{
        font-weight: 200 !important;
    }
    .fw300-xl{
        font-weight: 300 !important;
    }
    .fw400-xl{
        font-weight: 400 !important;
    }
    .fw500-xl{
        font-weight: 500 !important;
    }
    .fw600-xl{
        font-weight: 600 !important;
    }
    .fw700-xl{
        font-weight: 700 !important;
    }
    .fw800-xl{
        font-weight: 800 !important;
    }
    .fw900-xl{
        font-weight: 900 !important;
    }
}
@media only screen and (max-width: $mlScreen){
    .fs025-ml{
        font-size: 0.25rem !important;
    }
    .fs050-ml{
        font-size: 0.50rem !important;
    }
    .fs075-ml{
        font-size: 0.75rem !important;
    }
    .fs1-ml{
        font-size: 1rem !important;
    }
    .fs125-ml{
        font-size: 1.25rem !important;
    }
    .fs15-ml{
        font-size: 1.5rem !important;
    }
    .fs2-ml{
        font-size: 2rem !important;
    }
    .fs3-ml{
        font-size: 3rem !important;
    }
    .fs4-ml{
        font-size: 4rem !important;
    }
    .fs5-ml{
        font-size: 5rem !important;
    }
    .fw100-ml{
        font-weight: 100 !important;
    }
    .fw200-ml{
        font-weight: 200 !important;
    }
    .fw300-ml{
        font-weight: 300 !important;
    }
    .fw400-ml{
        font-weight: 400 !important;
    }
    .fw500-ml{
        font-weight: 500 !important;
    }
    .fw600-ml{
        font-weight: 600 !important;
    }
    .fw700-ml{
        font-weight: 700 !important;
    }
    .fw800-ml{
        font-weight: 800 !important;
    }
    .fw900-ml{
        font-weight: 900 !important;
    }
}
@media only screen and (max-width: $lgScreen){
    .fs025-lg{
        font-size: 0.25rem !important;
    }
    .fs050-lg{
        font-size: 0.50rem !important;
    }
    .fs075-lg{
        font-size: 0.75rem !important;
    }
    .fs1-lg{
        font-size: 1rem !important;
    }
    .fs125-lg{
        font-size: 1.25rem !important;
    }
    .fs15-lg{
        font-size: 1.5rem !important;
    }
    .fs2-lg{
        font-size: 2rem !important;
    }
    .fs3-lg{
        font-size: 3rem !important;
    }
    .fs4-lg{
        font-size: 4rem !important;
    }
    .fs5-lg{
        font-size: 5rem !important;
    }
    .fw100-lg{
        font-weight: 100 !important;
    }
    .fw200-lg{
        font-weight: 200 !important;
    }
    .fw300-lg{
        font-weight: 300 !important;
    }
    .fw400-lg{
        font-weight: 400 !important;
    }
    .fw500-lg{
        font-weight: 500 !important;
    }
    .fw600-lg{
        font-weight: 600 !important;
    }
    .fw700-lg{
        font-weight: 700 !important;
    }
    .fw800-lg{
        font-weight: 800 !important;
    }
    .fw900-lg{
        font-weight: 900 !important;
    }
}
@media only screen and (max-width: $mdScreen){
    .fs025-md{
        font-size: 0.25rem !important;
    }
    .fs050-md{
        font-size: 0.50rem !important;
    }
    .fs075-md{
        font-size: 0.75rem !important;
    }
    .fs1-md{
        font-size: 1rem !important;
    }
    .fs125-md{
        font-size: 1.25rem !important;
    }
    .fs15-md{
        font-size: 1.5rem !important;
    }
    .fs2-md{
        font-size: 2rem !important;
    }
    .fs3-md{
        font-size: 3rem !important;
    }
    .fs4-md{
        font-size: 4rem !important;
    }
    .fs5-md{
        font-size: 5rem !important;
    }
    .fw100-md{
        font-weight: 100 !important;
    }
    .fw200-md{
        font-weight: 200 !important;
    }
    .fw300-md{
        font-weight: 300 !important;
    }
    .fw400-md{
        font-weight: 400 !important;
    }
    .fw500-md{
        font-weight: 500 !important;
    }
    .fw600-md{
        font-weight: 600 !important;
    }
    .fw700-md{
        font-weight: 700 !important;
    }
    .fw800-md{
        font-weight: 800 !important;
    }
    .fw900-md{
        font-weight: 900 !important;
    }
}
@media only screen and (max-width: $smScreen){
    .fs025-sm{
        font-size: 0.25rem !important;
    }
    .fs050-sm{
        font-size: 0.50rem !important;
    }
    .fs075-sm{
        font-size: 0.75rem !important;
    }
    .fs1-sm{
        font-size: 1rem !important;
    }
    .fs125-sm{
        font-size: 1.25rem !important;
    }
    .fs15-sm{
        font-size: 1.5rem !important;
    }
    .fs2-sm{
        font-size: 2rem !important;
    }
    .fs3-sm{
        font-size: 3rem !important;
    }
    .fs4-sm{
        font-size: 4rem !important;
    }
    .fs5-sm{
        font-size: 5rem !important;
    }
    .fw100-sm{
        font-weight: 100 !important;
    }
    .fw200-sm{
        font-weight: 200 !important;
    }
    .fw300-sm{
        font-weight: 300 !important;
    }
    .fw400-sm{
        font-weight: 400 !important;
    }
    .fw500-sm{
        font-weight: 500 !important;
    }
    .fw600-sm{
        font-weight: 600 !important;
    }
    .fw700-sm{
        font-weight: 700 !important;
    }
    .fw800-sm{
        font-weight: 800 !important;
    }
    .fw900-sm{
        font-weight: 900 !important;
    }
}
@media only screen and (max-width: $xsScreen){
    .fs025-xs{
        font-size: 0.25rem !important;
    }
    .fs050-xs{
        font-size: 0.50rem !important;
    }
    .fs075-xs{
        font-size: 0.75rem !important;
    }
    .fs1-xs{
        font-size: 1rem !important;
    }
    .fs125-xs{
        font-size: 1.25rem !important;
    }
    .fs15-xs{
        font-size: 1.5rem !important;
    }
    .fs2-xs{
        font-size: 2rem !important;
    }
    .fs3-xs{
        font-size: 3rem !important;
    }
    .fs4-xs{
        font-size: 4rem !important;
    }
    .fs5-xs{
        font-size: 5rem !important;
    }
    .fw100-xs{
        font-weight: 100 !important;
    }
    .fw200-xs{
        font-weight: 200 !important;
    }
    .fw300-xs{
        font-weight: 300 !important;
    }
    .fw400-xs{
        font-weight: 400 !important;
    }
    .fw500-xs{
        font-weight: 500 !important;
    }
    .fw600-xs{
        font-weight: 600 !important;
    }
    .fw700-xs{
        font-weight: 700 !important;
    }
    .fw800-xs{
        font-weight: 800 !important;
    }
    .fw900-xs{
        font-weight: 900 !important;
    }
}



.fs025{
    font-size: 0.25rem;
}
.fs050{
    font-size: 0.50rem;
}
.fs075{
    font-size: 0.75rem;
}
.fs1{
    font-size: 1rem;
}
.fs125{
    font-size: 1.25rem;
}
.fs15{
    font-size: 1.5rem;
}
.fs2{
    font-size: 2rem;
}
.fs3{
    font-size: 3rem;
}
.fs4{
    font-size: 4rem;
}
.fs5{
    font-size: 5rem;
}
.fw100{
    font-weight: 100;
}
.fw200{
    font-weight: 200;
}
.fw300{
    font-weight: 300;
}
.fw400{
    font-weight: 400;
}
.fw500{
    font-weight: 500;
}
.fw600{
    font-weight: 600;
}
.fw700{
    font-weight: 700;
}
.fw800{
    font-weight: 800;
}
.fw900{
    font-weight: 900;
}