/////////////////////////////////////////////////////////////////////////////////////////
//                          Height
/////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width: $xxlScreen){
    .h-uns-xxl{
        height: unset !important;
    }
    .h-ini-xxl{
        height: initial !important;
    }
    .h0-xxl{width: 0 !important;}
    .h5-xxl{width: 5% !important;}
    .h10-xxl{width: 10% !important;}
    .h15-xxl{width: 15% !important;}
    .h20-xxl{width: 20% !important;}
    .h25-xxl{width: 25% !important;}
    .h30-xxl{width: 30% !important;}
    .h35-xxl{width: 35% !important;}
    .h40-xxl{width: 40% !important;}
    .h45-xxl{width: 45% !important;}
    .h50-xxl{width: 50% !important;}
    .h55-xxl{width: 55% !important;}
    .h60-xxl{width: 60% !important;}
    .h65-xxl{width: 65% !important;}
    .h70-xxl{width: 70% !important;}
    .h75-xxl{width: 75% !important;}
    .h80-xxl{width: 80% !important;}
    .h85-xxl{width: 85% !important;}
    .h90-xxl{width: 90% !important;}
    .h95-xxl{width: 95% !important;}
    .h100-xxl{width: 100% !important;}

    // rem
    .h0-rem-xxl    {height: 0 !important;}
    .h01-rem-xxl   {height: 0.1rem !important;}
    .h02-rem-xxl   {height: 0.2rem !important;}
    .h03-rem-xxl   {height: 0.3rem !important;}
    .h04-rem-xxl   {height: 0.4rem !important;}
    .h05-rem-xxl   {height: 0.5rem !important;}
    .h06-rem-xxl   {height: 0.6rem !important;}
    .h07-rem-xxl   {height: 0.7rem !important;}
    .h08-rem-xxl   {height: 0.8rem !important;}
    .h09-rem-xxl   {height: 0.9rem !important;}
    .h1-rem-xxl    {height: 1rem !important;}
    .h2-rem-xxl    {height: 2rem !important;}
    .h3-rem-xxl    {height: 3rem !important;}
    .h4-rem-xxl    {height: 4rem !important;}
    .h5-rem-xxl    {height: 5rem !important;}
    .h6-rem-xxl    {height: 6rem !important;}
    .h7-rem-xxl    {height: 7rem !important;}
    .h8-rem-xxl    {height: 8rem !important;}
    .h9-rem-xxl    {height: 9rem !important;}

    // px
    .h0-px-xxl   {height: 0 !important;}
    .h1-px-xxl   {height: 1px !important;}
    .h2-px-xxl   {height: 2px !important;}
    .h3-px-xxl   {height: 3px !important;}
    .h4-px-xxl   {height: 4px !important;}
    .h5-px-xxl   {height: 5px !important;}
    .h6-px-xxl   {height: 6px !important;}
    .h7-px-xxl   {height: 7px !important;}
    .h8-px-xxl   {height: 8px !important;}
    .h9-px-xxl   {height: 9px !important;}
    .h10-px-xxl  {height: 10px !important;}
    .h20-px-xxl  {height: 20px !important;}
    .h30-px-xxl  {height: 30px !important;}
    .h40-px-xxl  {height: 40px !important;}
    .h50-px-xxl  {height: 50px !important;}
    .h60-px-xxl  {height: 60px !important;}
    .h70-px-xxl  {height: 70px !important;}
    .h80-px-xxl  {height: 80px !important;}
    .h90-px-xxl  {height: 90px !important;}
    .h100-px-xxl {height: 100px !important;}
    .h200-px-xxl {height: 200px !important;}
    .h300-px-xxl {height: 300px !important;}
    .h400-px-xxl {height: 400px !important;}
}
@media only screen and (max-width: $xlScreen){
    .h-uns-xl{
        height: unset !important;
    }
    .h-ini-xl{
        height: initial !important;
    }
    .h0-xl{width: 0 !important;}
    .h5-xl{width: 5% !important;}
    .h10-xl{width: 10% !important;}
    .h15-xl{width: 15% !important;}
    .h20-xl{width: 20% !important;}
    .h25-xl{width: 25% !important;}
    .h30-xl{width: 30% !important;}
    .h35-xl{width: 35% !important;}
    .h40-xl{width: 40% !important;}
    .h45-xl{width: 45% !important;}
    .h50-xl{width: 50% !important;}
    .h55-xl{width: 55% !important;}
    .h60-xl{width: 60% !important;}
    .h65-xl{width: 65% !important;}
    .h70-xl{width: 70% !important;}
    .h75-xl{width: 75% !important;}
    .h80-xl{width: 80% !important;}
    .h85-xl{width: 85% !important;}
    .h90-xl{width: 90% !important;}
    .h95-xl{width: 95% !important;}
    .h100-xl{width: 100% !important;}
    // rem
    .h0-rem-xl    {height: 0 !important;}
    .h01-rem-xl   {height: 0.1rem !important;}
    .h02-rem-xl   {height: 0.2rem !important;}
    .h03-rem-xl   {height: 0.3rem !important;}
    .h04-rem-xl   {height: 0.4rem !important;}
    .h05-rem-xl   {height: 0.5rem !important;}
    .h06-rem-xl   {height: 0.6rem !important;}
    .h07-rem-xl   {height: 0.7rem !important;}
    .h08-rem-xl   {height: 0.8rem !important;}
    .h09-rem-xl   {height: 0.9rem !important;}
    .h1-rem-xl    {height: 1rem !important;}
    .h2-rem-xl    {height: 2rem !important;}
    .h3-rem-xl    {height: 3rem !important;}
    .h4-rem-xl    {height: 4rem !important;}
    .h5-rem-xl    {height: 5rem !important;}
    .h6-rem-xl    {height: 6rem !important;}
    .h7-rem-xl    {height: 7rem !important;}
    .h8-rem-xl    {height: 8rem !important;}
    .h9-rem-xl    {height: 9rem !important;}

    // px
    .h0-px-xl   {height: 0 !important;}
    .h1-px-xl   {height: 1px !important;}
    .h2-px-xl   {height: 2px !important;}
    .h3-px-xl   {height: 3px !important;}
    .h4-px-xl   {height: 4px !important;}
    .h5-px-xl   {height: 5px !important;}
    .h6-px-xl   {height: 6px !important;}
    .h7-px-xl   {height: 7px !important;}
    .h8-px-xl   {height: 8px !important;}
    .h9-px-xl   {height: 9px !important;}
    .h10-px-xl  {height: 10px !important;}
    .h20-px-xl  {height: 20px !important;}
    .h30-px-xl  {height: 30px !important;}
    .h40-px-xl  {height: 40px !important;}
    .h50-px-xl  {height: 50px !important;}
    .h60-px-xl  {height: 60px !important;}
    .h70-px-xl  {height: 70px !important;}
    .h80-px-xl  {height: 80px !important;}
    .h90-px-xl  {height: 90px !important;}
    .h100-px-xl {height: 100px !important;}
    .h200-px-xl {height: 200px !important;}
    .h300-px-xl {height: 300px !important;}
    .h400-px-xl {height: 400px !important;}
}
@media only screen and (max-width: $lgScreen){
    .h-uns-lg{
        height: unset !important;
    }
    .h-ini-lg{
        height: initial !important;
    }
    .h0-lg{width: 0 !important;}
    .h5-lg{width: 5% !important;}
    .h10-lg{width: 10% !important;}
    .h15-lg{width: 15% !important;}
    .h20-lg{width: 20% !important;}
    .h25-lg{width: 25% !important;}
    .h30-lg{width: 30% !important;}
    .h35-lg{width: 35% !important;}
    .h40-lg{width: 40% !important;}
    .h45-lg{width: 45% !important;}
    .h50-lg{width: 50% !important;}
    .h55-lg{width: 55% !important;}
    .h60-lg{width: 60% !important;}
    .h65-lg{width: 65% !important;}
    .h70-lg{width: 70% !important;}
    .h75-lg{width: 75% !important;}
    .h80-lg{width: 80% !important;}
    .h85-lg{width: 85% !important;}
    .h90-lg{width: 90% !important;}
    .h95-lg{width: 95% !important;}
    .h100-lg{width: 100% !important;}

    // rem
    .h0-rem-lg    {height: 0 !important;}
    .h01-rem-lg   {height: 0.1rem !important;}
    .h02-rem-lg   {height: 0.2rem !important;}
    .h03-rem-lg   {height: 0.3rem !important;}
    .h04-rem-lg   {height: 0.4rem !important;}
    .h05-rem-lg   {height: 0.5rem !important;}
    .h06-rem-lg   {height: 0.6rem !important;}
    .h07-rem-lg   {height: 0.7rem !important;}
    .h08-rem-lg   {height: 0.8rem !important;}
    .h09-rem-lg   {height: 0.9rem !important;}
    .h1-rem-lg    {height: 1rem !important;}
    .h2-rem-lg    {height: 2rem !important;}
    .h3-rem-lg    {height: 3rem !important;}
    .h4-rem-lg    {height: 4rem !important;}
    .h5-rem-lg    {height: 5rem !important;}
    .h6-rem-lg    {height: 6rem !important;}
    .h7-rem-lg    {height: 7rem !important;}
    .h8-rem-lg    {height: 8rem !important;}
    .h9-rem-lg    {height: 9rem !important;}

    // px
    .h0-px-lg   {height: 0 !important;}
    .h1-px-lg   {height: 1px !important;}
    .h2-px-lg   {height: 2px !important;}
    .h3-px-lg   {height: 3px !important;}
    .h4-px-lg   {height: 4px !important;}
    .h5-px-lg   {height: 5px !important;}
    .h6-px-lg   {height: 6px !important;}
    .h7-px-lg   {height: 7px !important;}
    .h8-px-lg   {height: 8px !important;}
    .h9-px-lg   {height: 9px !important;}
    .h10-px-lg  {height: 10px !important;}
    .h20-px-lg  {height: 20px !important;}
    .h30-px-lg  {height: 30px !important;}
    .h40-px-lg  {height: 40px !important;}
    .h50-px-lg  {height: 50px !important;}
    .h60-px-lg  {height: 60px !important;}
    .h70-px-lg  {height: 70px !important;}
    .h80-px-lg  {height: 80px !important;}
    .h90-px-lg  {height: 90px !important;}
    .h100-px-lg {height: 100px !important;}
    .h200-px-lg {height: 200px !important;}
    .h300-px-lg {height: 300px !important;}
    .h400-px-lg {height: 400px !important;}
}
@media only screen and (max-width: $mlScreen){
    .h-uns-ml{
        height: unset !important;
    }
    .h-ini-ml{
        height: initial !important;
    }
    .h0-ml{width: 0 !important;}
    .h5-ml{width: 5% !important;}
    .h10-ml{width: 10% !important;}
    .h15-ml{width: 15% !important;}
    .h20-ml{width: 20% !important;}
    .h25-ml{width: 25% !important;}
    .h30-ml{width: 30% !important;}
    .h35-ml{width: 35% !important;}
    .h40-ml{width: 40% !important;}
    .h45-ml{width: 45% !important;}
    .h50-ml{width: 50% !important;}
    .h55-ml{width: 55% !important;}
    .h60-ml{width: 60% !important;}
    .h65-ml{width: 65% !important;}
    .h70-ml{width: 70% !important;}
    .h75-ml{width: 75% !important;}
    .h80-ml{width: 80% !important;}
    .h85-ml{width: 85% !important;}
    .h90-ml{width: 90% !important;}
    .h95-ml{width: 95% !important;}
    .h100-ml{width: 100% !important;}

    // rem
    .h0-rem-ml    {height: 0 !important;}
    .h01-rem-ml   {height: 0.1rem !important;}
    .h02-rem-ml   {height: 0.2rem !important;}
    .h03-rem-ml   {height: 0.3rem !important;}
    .h04-rem-ml   {height: 0.4rem !important;}
    .h05-rem-ml   {height: 0.5rem !important;}
    .h06-rem-ml   {height: 0.6rem !important;}
    .h07-rem-ml   {height: 0.7rem !important;}
    .h08-rem-ml   {height: 0.8rem !important;}
    .h09-rem-ml   {height: 0.9rem !important;}
    .h1-rem-ml    {height: 1rem !important;}
    .h2-rem-ml    {height: 2rem !important;}
    .h3-rem-ml    {height: 3rem !important;}
    .h4-rem-ml    {height: 4rem !important;}
    .h5-rem-ml    {height: 5rem !important;}
    .h6-rem-ml    {height: 6rem !important;}
    .h7-rem-ml    {height: 7rem !important;}
    .h8-rem-ml    {height: 8rem !important;}
    .h9-rem-ml    {height: 9rem !important;}

    // px
    .h0-px-ml   {height: 0 !important;}
    .h1-px-ml   {height: 1px !important;}
    .h2-px-ml   {height: 2px !important;}
    .h3-px-ml   {height: 3px !important;}
    .h4-px-ml   {height: 4px !important;}
    .h5-px-ml   {height: 5px !important;}
    .h6-px-ml   {height: 6px !important;}
    .h7-px-ml   {height: 7px !important;}
    .h8-px-ml   {height: 8px !important;}
    .h9-px-ml   {height: 9px !important;}
    .h10-px-ml  {height: 10px !important;}
    .h20-px-ml  {height: 20px !important;}
    .h30-px-ml  {height: 30px !important;}
    .h40-px-ml  {height: 40px !important;}
    .h50-px-ml  {height: 50px !important;}
    .h60-px-ml  {height: 60px !important;}
    .h70-px-ml  {height: 70px !important;}
    .h80-px-ml  {height: 80px !important;}
    .h90-px-ml  {height: 90px !important;}
    .h100-px-ml {height: 100px !important;}
    .h200-px-ml {height: 200px !important;}
    .h300-px-ml {height: 300px !important;}
    .h400-px-ml {height: 400px !important;}
}
@media only screen and (max-width: $mdScreen){
    .h-uns-md{
        height: unset !important;
    }
    .h-ini-md{
        height: initial !important;
    }
    .h0-xs{width: 0 !important;}
    .h5-md{width: 5% !important;}
    .h10-md{width: 10% !important;}
    .h15-md{width: 15% !important;}
    .h20-md{width: 20% !important;}
    .h25-md{width: 25% !important;}
    .h30-md{width: 30% !important;}
    .h35-md{width: 35% !important;}
    .h40-md{width: 40% !important;}
    .h45-md{width: 45% !important;}
    .h50-md{width: 50% !important;}
    .h55-md{width: 55% !important;}
    .h60-md{width: 60% !important;}
    .h65-md{width: 65% !important;}
    .h70-md{width: 70% !important;}
    .h75-md{width: 75% !important;}
    .h80-md{width: 80% !important;}
    .h85-md{width: 85% !important;}
    .h90-md{width: 90% !important;}
    .h95-md{width: 95% !important;}
    .h100-md{width: 100% !important;}

    // rem
    .h0-rem-md    {height: 0 !important;}
    .h01-rem-md   {height: 0.1rem !important;}
    .h02-rem-md   {height: 0.2rem !important;}
    .h03-rem-md   {height: 0.3rem !important;}
    .h04-rem-md   {height: 0.4rem !important;}
    .h05-rem-md   {height: 0.5rem !important;}
    .h06-rem-md   {height: 0.6rem !important;}
    .h07-rem-md   {height: 0.7rem !important;}
    .h08-rem-md   {height: 0.8rem !important;}
    .h09-rem-md   {height: 0.9rem !important;}
    .h1-rem-md    {height: 1rem !important;}
    .h2-rem-md    {height: 2rem !important;}
    .h3-rem-md    {height: 3rem !important;}
    .h4-rem-md    {height: 4rem !important;}
    .h5-rem-md    {height: 5rem !important;}
    .h6-rem-md    {height: 6rem !important;}
    .h7-rem-md    {height: 7rem !important;}
    .h8-rem-md    {height: 8rem !important;}
    .h9-rem-md    {height: 9rem !important;}

    // px
    .h0-px-md   {height: 0 !important;}
    .h1-px-md   {height: 1px !important;}
    .h2-px-md   {height: 2px !important;}
    .h3-px-md   {height: 3px !important;}
    .h4-px-md   {height: 4px !important;}
    .h5-px-md   {height: 5px !important;}
    .h6-px-md   {height: 6px !important;}
    .h7-px-md   {height: 7px !important;}
    .h8-px-md   {height: 8px !important;}
    .h9-px-md   {height: 9px !important;}
    .h10-px-md  {height: 10px !important;}
    .h20-px-md  {height: 20px !important;}
    .h30-px-md  {height: 30px !important;}
    .h40-px-md  {height: 40px !important;}
    .h50-px-md  {height: 50px !important;}
    .h60-px-md  {height: 60px !important;}
    .h70-px-md  {height: 70px !important;}
    .h80-px-md  {height: 80px !important;}
    .h90-px-md  {height: 90px !important;}
    .h100-px-md {height: 100px !important;}
    .h200-px-md {height: 200px !important;}
    .h300-px-md {height: 300px !important;}
    .h400-px-md {height: 400px !important;}
}
@media only screen and (max-width: $smScreen){
    .h-uns-sm{
        height: unset !important;
    }
    .h-ini-sm{
        height: initial !important;
    }
    .h0-sm{width: 0 !important;}
    .h5-sm{width: 5% !important;}
    .h10-sm{width: 10% !important;}
    .h15-sm{width: 15% !important;}
    .h20-sm{width: 20% !important;}
    .h25-sm{width: 25% !important;}
    .h30-sm{width: 30% !important;}
    .h35-sm{width: 35% !important;}
    .h40-sm{width: 40% !important;}
    .h45-sm{width: 45% !important;}
    .h50-sm{width: 50% !important;}
    .h55-sm{width: 55% !important;}
    .h60-sm{width: 60% !important;}
    .h65-sm{width: 65% !important;}
    .h70-sm{width: 70% !important;}
    .h75-sm{width: 75% !important;}
    .h80-sm{width: 80% !important;}
    .h85-sm{width: 85% !important;}
    .h90-sm{width: 90% !important;}
    .h95-sm{width: 95% !important;}
    .h100-sm{width: 100% !important;}

    // rem
    .h0-rem-sm    {height: 0 !important;}
    .h01-rem-sm   {height: 0.1rem !important;}
    .h02-rem-sm   {height: 0.2rem !important;}
    .h03-rem-sm   {height: 0.3rem !important;}
    .h04-rem-sm   {height: 0.4rem !important;}
    .h05-rem-sm   {height: 0.5rem !important;}
    .h06-rem-sm   {height: 0.6rem !important;}
    .h07-rem-sm   {height: 0.7rem !important;}
    .h08-rem-sm   {height: 0.8rem !important;}
    .h09-rem-sm   {height: 0.9rem !important;}
    .h1-rem-sm    {height: 1rem !important;}
    .h2-rem-sm    {height: 2rem !important;}
    .h3-rem-sm    {height: 3rem !important;}
    .h4-rem-sm    {height: 4rem !important;}
    .h5-rem-sm    {height: 5rem !important;}
    .h6-rem-sm    {height: 6rem !important;}
    .h7-rem-sm    {height: 7rem !important;}
    .h8-rem-sm    {height: 8rem !important;}
    .h9-rem-sm    {height: 9rem !important;}

    // px
    .h0-px-sm   {height: 0 !important;}
    .h1-px-sm   {height: 1px !important;}
    .h2-px-sm   {height: 2px !important;}
    .h3-px-sm   {height: 3px !important;}
    .h4-px-sm   {height: 4px !important;}
    .h5-px-sm   {height: 5px !important;}
    .h6-px-sm   {height: 6px !important;}
    .h7-px-sm   {height: 7px !important;}
    .h8-px-sm   {height: 8px !important;}
    .h9-px-sm   {height: 9px !important;}
    .h10-px-sm  {height: 10px !important;}
    .h20-px-sm  {height: 20px !important;}
    .h30-px-sm  {height: 30px !important;}
    .h40-px-sm  {height: 40px !important;}
    .h50-px-sm  {height: 50px !important;}
    .h60-px-sm  {height: 60px !important;}
    .h70-px-sm  {height: 70px !important;}
    .h80-px-sm  {height: 80px !important;}
    .h90-px-sm  {height: 90px !important;}
    .h100-px-sm {height: 100px !important;}
    .h200-px-sm {height: 200px !important;}
    .h300-px-sm {height: 300px !important;}
    .h400-px-sm {height: 400px !important;}
}
@media only screen and (max-width: $xsScreen){
    .h-uns-xs{
        height: unset !important;
    }
    .h-ini-xs{
        height: initial !important;
    }
    .h0-xs{width: 0 !important;}
    .h5-xs{width: 5% !important;}
    .h10-xs{width: 10% !important;}
    .h15-xs{width: 15% !important;}
    .h20-xs{width: 20% !important;}
    .h25-xs{width: 25% !important;}
    .h30-xs{width: 30% !important;}
    .h35-xs{width: 35% !important;}
    .h40-xs{width: 40% !important;}
    .h45-xs{width: 45% !important;}
    .h50-xs{width: 50% !important;}
    .h55-xs{width: 55% !important;}
    .h60-xs{width: 60% !important;}
    .h65-xs{width: 65% !important;}
    .h70-xs{width: 70% !important;}
    .h75-xs{width: 75% !important;}
    .h80-xs{width: 80% !important;}
    .h85-xs{width: 85% !important;}
    .h90-xs{width: 90% !important;}
    .h95-xs{width: 95% !important;}
    .h100-xs{width: 100% !important;}


    // rem
    .h0-rem-xs    {height: 0 !important;}
    .h01-rem-xs   {height: 0.1rem !important;}
    .h02-rem-xs   {height: 0.2rem !important;}
    .h03-rem-xs   {height: 0.3rem !important;}
    .h04-rem-xs   {height: 0.4rem !important;}
    .h05-rem-xs   {height: 0.5rem !important;}
    .h06-rem-xs   {height: 0.6rem !important;}
    .h07-rem-xs   {height: 0.7rem !important;}
    .h08-rem-xs   {height: 0.8rem !important;}
    .h09-rem-xs   {height: 0.9rem !important;}
    .h1-rem-xs    {height: 1rem !important;}
    .h2-rem-xs    {height: 2rem !important;}
    .h3-rem-xs    {height: 3rem !important;}
    .h4-rem-xs    {height: 4rem !important;}
    .h5-rem-xs    {height: 5rem !important;}
    .h6-rem-xs    {height: 6rem !important;}
    .h7-rem-xs    {height: 7rem !important;}
    .h8-rem-xs    {height: 8rem !important;}
    .h9-rem-xs    {height: 9rem !important;}

    // px
    .h0-px-xs   {height: 0 !important;}
    .h1-px-xs   {height: 1px !important;}
    .h2-px-xs   {height: 2px !important;}
    .h3-px-xs   {height: 3px !important;}
    .h4-px-xs   {height: 4px !important;}
    .h5-px-xs   {height: 5px !important;}
    .h6-px-xs   {height: 6px !important;}
    .h7-px-xs   {height: 7px !important;}
    .h8-px-xs   {height: 8px !important;}
    .h9-px-xs   {height: 9px !important;}
    .h10-px-xs  {height: 10px !important;}
    .h20-px-xs  {height: 20px !important;}
    .h30-px-xs  {height: 30px !important;}
    .h40-px-xs  {height: 40px !important;}
    .h50-px-xs  {height: 50px !important;}
    .h60-px-xs  {height: 60px !important;}
    .h70-px-xs  {height: 70px !important;}
    .h80-px-xs  {height: 80px !important;}
    .h90-px-xs  {height: 90px !important;}
    .h100-px-xs {height: 100px !important;}
    .h200-px-xs {height: 200px !important;}
    .h300-px-xs {height: 300px !important;}
    .h400-px-xs {height: 400px !important;}
}


.h-uns{
    height: unset;
}
.h-ini{
    height: initial;
}
// %
.h0{width: 0;}
.h5{width: 5%;}
.h10{width: 10%;}
.h15{width: 15%;}
.h20{width: 20%;}
.h25{width: 25%;}
.h30{width: 30%;}
.h35{width: 35%;}
.h40{width: 40%;}
.h45{width: 45%;}
.h50{width: 50%;}
.h55{width: 55%;}
.h60{width: 60%;}
.h65{width: 65%;}
.h70{width: 70%;}
.h75{width: 75%;}
.h80{width: 80%;}
.h85{width: 85%;}
.h90{width: 90%;}
.h95{width: 95%;}
.h100{width: 100%;}

// rem
.h0-rem    {height: 0;}
.h01-rem   {height: 0.1rem;}
.h02-rem   {height: 0.2rem;}
.h03-rem   {height: 0.3rem;}
.h04-rem   {height: 0.4rem;}
.h05-rem   {height: 0.5rem;}
.h06-rem   {height: 0.6rem;}
.h07-rem   {height: 0.7rem;}
.h08-rem   {height: 0.8rem;}
.h09-rem   {height: 0.9rem;}
.h1-rem    {height: 1rem;}
.h2-rem    {height: 2rem;}
.h3-rem    {height: 3rem;}
.h4-rem    {height: 4rem;}
.h5-rem    {height: 5rem;}
.h6-rem    {height: 6rem;}
.h7-rem    {height: 7rem;}
.h8-rem    {height: 8rem;}
.h9-rem    {height: 9rem;}

// px
.h0-px   {height: 0;}
.h1-px   {height: 1px;}
.h2-px   {height: 2px;}
.h3-px   {height: 3px;}
.h4-px   {height: 4px;}
.h5-px   {height: 5px;}
.h6-px   {height: 6px;}
.h7-px   {height: 7px;}
.h8-px   {height: 8px;}
.h9-px   {height: 9px;}
.h10-px  {height: 10px;}
.h20-px  {height: 20px;}
.h30-px  {height: 30px;}
.h40-px  {height: 40px;}
.h50-px  {height: 50px;}
.h60-px  {height: 60px;}
.h70-px  {height: 70px;}
.h80-px  {height: 80px;}
.h90-px  {height: 90px;}
.h100-px {height: 100px;}
.h200-px {height: 200px;}
.h300-px {height: 300px;}
.h400-px {height: 400px;}