/////////////////////////////////////////////////////////////////////////////////////////
//                          Height
/////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width: $xxlScreen){
    .h-uns-xxl{
        height: unset !important;
    }
    .h-ini-xxl{
        height: initial !important;
    }
    .h0-xxl{height: 0 !important;}
    .h10-xxl{height: 10% !important;}
    .h20-xxl{height: 20% !important;}
    .h30-xxl{height: 30% !important;}
    .h40-xxl{height: 40% !important;}
    .h50-xxl{height: 50% !important;}
    .h60-xxl{height: 60% !important;}
    .h70-xxl{height: 70% !important;}
    .h80-xxl{height: 80% !important;}
    .h90-xxl{height: 90% !important;}
    .h100-xxl{height: 100% !important;}

    // rem
    .h0-rem-xxl    {height: 0 !important;}
    .h01-rem-xxl   {height: 0.1rem !important;}
    .h02-rem-xxl   {height: 0.2rem !important;}
    .h03-rem-xxl   {height: 0.3rem !important;}
    .h04-rem-xxl   {height: 0.4rem !important;}
    .h05-rem-xxl   {height: 0.5rem !important;}
    .h06-rem-xxl   {height: 0.6rem !important;}
    .h07-rem-xxl   {height: 0.7rem !important;}
    .h08-rem-xxl   {height: 0.8rem !important;}
    .h09-rem-xxl   {height: 0.9rem !important;}
    .h1-rem-xxl    {height: 1rem !important;}
    .h2-rem-xxl    {height: 2rem !important;}
    .h3-rem-xxl    {height: 3rem !important;}
    .h4-rem-xxl    {height: 4rem !important;}
    .h5-rem-xxl    {height: 5rem !important;}
    .h6-rem-xxl    {height: 6rem !important;}
    .h7-rem-xxl    {height: 7rem !important;}
    .h8-rem-xxl    {height: 8rem !important;}
    .h9-rem-xxl    {height: 9rem !important;}

    // px
    .h0-px-xxl   {height: 0 !important;}
    .h1-px-xxl   {height: 1px !important;}
    .h2-px-xxl   {height: 2px !important;}
    .h3-px-xxl   {height: 3px !important;}
    .h4-px-xxl   {height: 4px !important;}
    .h5-px-xxl   {height: 5px !important;}
    .h6-px-xxl   {height: 6px !important;}
    .h7-px-xxl   {height: 7px !important;}
    .h8-px-xxl   {height: 8px !important;}
    .h9-px-xxl   {height: 9px !important;}
    .h10-px-xxl  {height: 10px !important;}
    .h20-px-xxl  {height: 20px !important;}
    .h30-px-xxl  {height: 30px !important;}
    .h40-px-xxl  {height: 40px !important;}
    .h50-px-xxl  {height: 50px !important;}
    .h60-px-xxl  {height: 60px !important;}
    .h70-px-xxl  {height: 70px !important;}
    .h80-px-xxl  {height: 80px !important;}
    .h90-px-xxl  {height: 90px !important;}
    .h100-px-xxl {height: 100px !important;}
    .h200-px-xxl {height: 200px !important;}
    .h300-px-xxl {height: 300px !important;}
    .h400-px-xxl {height: 400px !important;}
}
@media only screen and (max-width: $xlScreen){
    .h-uns-xl{
        height: unset !important;
    }
    .h-ini-xl{
        height: initial !important;
    }
    .h0-xl{height: 0 !important;}
    .h10-xl{height: 10% !important;}
    .h20-xl{height: 20% !important;}
    .h30-xl{height: 30% !important;}
    .h40-xl{height: 40% !important;}
    .h50-xl{height: 50% !important;}
    .h60-xl{height: 60% !important;}
    .h70-xl{height: 70% !important;}
    .h80-xl{height: 80% !important;}
    .h90-xl{height: 90% !important;}
    .h100-xl{height: 100% !important;}

    // rem
    .h0-rem-xl    {height: 0 !important;}
    .h01-rem-xl   {height: 0.1rem !important;}
    .h02-rem-xl   {height: 0.2rem !important;}
    .h03-rem-xl   {height: 0.3rem !important;}
    .h04-rem-xl   {height: 0.4rem !important;}
    .h05-rem-xl   {height: 0.5rem !important;}
    .h06-rem-xl   {height: 0.6rem !important;}
    .h07-rem-xl   {height: 0.7rem !important;}
    .h08-rem-xl   {height: 0.8rem !important;}
    .h09-rem-xl   {height: 0.9rem !important;}
    .h1-rem-xl    {height: 1rem !important;}
    .h2-rem-xl    {height: 2rem !important;}
    .h3-rem-xl    {height: 3rem !important;}
    .h4-rem-xl    {height: 4rem !important;}
    .h5-rem-xl    {height: 5rem !important;}
    .h6-rem-xl    {height: 6rem !important;}
    .h7-rem-xl    {height: 7rem !important;}
    .h8-rem-xl    {height: 8rem !important;}
    .h9-rem-xl    {height: 9rem !important;}

    // px
    .h0-px-xl   {height: 0 !important;}
    .h1-px-xl   {height: 1px !important;}
    .h2-px-xl   {height: 2px !important;}
    .h3-px-xl   {height: 3px !important;}
    .h4-px-xl   {height: 4px !important;}
    .h5-px-xl   {height: 5px !important;}
    .h6-px-xl   {height: 6px !important;}
    .h7-px-xl   {height: 7px !important;}
    .h8-px-xl   {height: 8px !important;}
    .h9-px-xl   {height: 9px !important;}
    .h10-px-xl  {height: 10px !important;}
    .h20-px-xl  {height: 20px !important;}
    .h30-px-xl  {height: 30px !important;}
    .h40-px-xl  {height: 40px !important;}
    .h50-px-xl  {height: 50px !important;}
    .h60-px-xl  {height: 60px !important;}
    .h70-px-xl  {height: 70px !important;}
    .h80-px-xl  {height: 80px !important;}
    .h90-px-xl  {height: 90px !important;}
    .h100-px-xl {height: 100px !important;}
    .h200-px-xl {height: 200px !important;}
    .h300-px-xl {height: 300px !important;}
    .h400-px-xl {height: 400px !important;}
}
@media only screen and (max-width: $lgScreen){
    .h-uns-lg{
        height: unset !important;
    }
    .h-ini-lg{
        height: initial !important;
    }
    .h0-lg{height: 0 !important;}
    .h10-lg{height: 10% !important;}
    .h20-lg{height: 20% !important;}
    .h30-lg{height: 30% !important;}
    .h40-lg{height: 40% !important;}
    .h50-lg{height: 50% !important;}
    .h60-lg{height: 60% !important;}
    .h70-lg{height: 70% !important;}
    .h80-lg{height: 80% !important;}
    .h90-lg{height: 90% !important;}
    .h100-lg{height: 100% !important;}

    // rem
    .h0-rem-lg    {height: 0 !important;}
    .h01-rem-lg   {height: 0.1rem !important;}
    .h02-rem-lg   {height: 0.2rem !important;}
    .h03-rem-lg   {height: 0.3rem !important;}
    .h04-rem-lg   {height: 0.4rem !important;}
    .h05-rem-lg   {height: 0.5rem !important;}
    .h06-rem-lg   {height: 0.6rem !important;}
    .h07-rem-lg   {height: 0.7rem !important;}
    .h08-rem-lg   {height: 0.8rem !important;}
    .h09-rem-lg   {height: 0.9rem !important;}
    .h1-rem-lg    {height: 1rem !important;}
    .h2-rem-lg    {height: 2rem !important;}
    .h3-rem-lg    {height: 3rem !important;}
    .h4-rem-lg    {height: 4rem !important;}
    .h5-rem-lg    {height: 5rem !important;}
    .h6-rem-lg    {height: 6rem !important;}
    .h7-rem-lg    {height: 7rem !important;}
    .h8-rem-lg    {height: 8rem !important;}
    .h9-rem-lg    {height: 9rem !important;}

    // px
    .h0-px-lg   {height: 0 !important;}
    .h1-px-lg   {height: 1px !important;}
    .h2-px-lg   {height: 2px !important;}
    .h3-px-lg   {height: 3px !important;}
    .h4-px-lg   {height: 4px !important;}
    .h5-px-lg   {height: 5px !important;}
    .h6-px-lg   {height: 6px !important;}
    .h7-px-lg   {height: 7px !important;}
    .h8-px-lg   {height: 8px !important;}
    .h9-px-lg   {height: 9px !important;}
    .h10-px-lg  {height: 10px !important;}
    .h20-px-lg  {height: 20px !important;}
    .h30-px-lg  {height: 30px !important;}
    .h40-px-lg  {height: 40px !important;}
    .h50-px-lg  {height: 50px !important;}
    .h60-px-lg  {height: 60px !important;}
    .h70-px-lg  {height: 70px !important;}
    .h80-px-lg  {height: 80px !important;}
    .h90-px-lg  {height: 90px !important;}
    .h100-px-lg {height: 100px !important;}
    .h200-px-lg {height: 200px !important;}
    .h300-px-lg {height: 300px !important;}
    .h400-px-lg {height: 400px !important;}
}
@media only screen and (max-width: $mlScreen){
    .h-uns-ml{
        height: unset !important;
    }
    .h-ini-ml{
        height: initial !important;
    }
    .h0-ml{height: 0 !important;}
    .h10-ml{height: 10% !important;}
    .h20-ml{height: 20% !important;}
    .h30-ml{height: 30% !important;}
    .h40-ml{height: 40% !important;}
    .h50-ml{height: 50% !important;}
    .h60-ml{height: 60% !important;}
    .h70-ml{height: 70% !important;}
    .h80-ml{height: 80% !important;}
    .h90-ml{height: 90% !important;}
    .h100-ml{height: 100% !important;}

    // rem
    .h0-rem-ml    {height: 0 !important;}
    .h01-rem-ml   {height: 0.1rem !important;}
    .h02-rem-ml   {height: 0.2rem !important;}
    .h03-rem-ml   {height: 0.3rem !important;}
    .h04-rem-ml   {height: 0.4rem !important;}
    .h05-rem-ml   {height: 0.5rem !important;}
    .h06-rem-ml   {height: 0.6rem !important;}
    .h07-rem-ml   {height: 0.7rem !important;}
    .h08-rem-ml   {height: 0.8rem !important;}
    .h09-rem-ml   {height: 0.9rem !important;}
    .h1-rem-ml    {height: 1rem !important;}
    .h2-rem-ml    {height: 2rem !important;}
    .h3-rem-ml    {height: 3rem !important;}
    .h4-rem-ml    {height: 4rem !important;}
    .h5-rem-ml    {height: 5rem !important;}
    .h6-rem-ml    {height: 6rem !important;}
    .h7-rem-ml    {height: 7rem !important;}
    .h8-rem-ml    {height: 8rem !important;}
    .h9-rem-ml    {height: 9rem !important;}

    // px
    .h0-px-ml   {height: 0 !important;}
    .h1-px-ml   {height: 1px !important;}
    .h2-px-ml   {height: 2px !important;}
    .h3-px-ml   {height: 3px !important;}
    .h4-px-ml   {height: 4px !important;}
    .h5-px-ml   {height: 5px !important;}
    .h6-px-ml   {height: 6px !important;}
    .h7-px-ml   {height: 7px !important;}
    .h8-px-ml   {height: 8px !important;}
    .h9-px-ml   {height: 9px !important;}
    .h10-px-ml  {height: 10px !important;}
    .h20-px-ml  {height: 20px !important;}
    .h30-px-ml  {height: 30px !important;}
    .h40-px-ml  {height: 40px !important;}
    .h50-px-ml  {height: 50px !important;}
    .h60-px-ml  {height: 60px !important;}
    .h70-px-ml  {height: 70px !important;}
    .h80-px-ml  {height: 80px !important;}
    .h90-px-ml  {height: 90px !important;}
    .h100-px-ml {height: 100px !important;}
    .h200-px-ml {height: 200px !important;}
    .h300-px-ml {height: 300px !important;}
    .h400-px-ml {height: 400px !important;}
}
@media only screen and (max-width: $mdScreen){
    .h-uns-md{
        height: unset !important;
    }
    .h-ini-md{
        height: initial !important;
    }
    .h0-md{height: 0 !important;}
    .h10-md{height: 10% !important;}
    .h20-md{height: 20% !important;}
    .h30-md{height: 30% !important;}
    .h40-md{height: 40% !important;}
    .h50-md{height: 50% !important;}
    .h60-md{height: 60% !important;}
    .h70-md{height: 70% !important;}
    .h80-md{height: 80% !important;}
    .h90-md{height: 90% !important;}
    .h100-md{height: 100% !important;}

    // rem
    .h0-rem-md    {height: 0 !important;}
    .h01-rem-md   {height: 0.1rem !important;}
    .h02-rem-md   {height: 0.2rem !important;}
    .h03-rem-md   {height: 0.3rem !important;}
    .h04-rem-md   {height: 0.4rem !important;}
    .h05-rem-md   {height: 0.5rem !important;}
    .h06-rem-md   {height: 0.6rem !important;}
    .h07-rem-md   {height: 0.7rem !important;}
    .h08-rem-md   {height: 0.8rem !important;}
    .h09-rem-md   {height: 0.9rem !important;}
    .h1-rem-md    {height: 1rem !important;}
    .h2-rem-md    {height: 2rem !important;}
    .h3-rem-md    {height: 3rem !important;}
    .h4-rem-md    {height: 4rem !important;}
    .h5-rem-md    {height: 5rem !important;}
    .h6-rem-md    {height: 6rem !important;}
    .h7-rem-md    {height: 7rem !important;}
    .h8-rem-md    {height: 8rem !important;}
    .h9-rem-md    {height: 9rem !important;}

    // px
    .h0-px-md   {height: 0 !important;}
    .h1-px-md   {height: 1px !important;}
    .h2-px-md   {height: 2px !important;}
    .h3-px-md   {height: 3px !important;}
    .h4-px-md   {height: 4px !important;}
    .h5-px-md   {height: 5px !important;}
    .h6-px-md   {height: 6px !important;}
    .h7-px-md   {height: 7px !important;}
    .h8-px-md   {height: 8px !important;}
    .h9-px-md   {height: 9px !important;}
    .h10-px-md  {height: 10px !important;}
    .h20-px-md  {height: 20px !important;}
    .h30-px-md  {height: 30px !important;}
    .h40-px-md  {height: 40px !important;}
    .h50-px-md  {height: 50px !important;}
    .h60-px-md  {height: 60px !important;}
    .h70-px-md  {height: 70px !important;}
    .h80-px-md  {height: 80px !important;}
    .h90-px-md  {height: 90px !important;}
    .h100-px-md {height: 100px !important;}
    .h200-px-md {height: 200px !important;}
    .h300-px-md {height: 300px !important;}
    .h400-px-md {height: 400px !important;}
}
@media only screen and (max-width: $smScreen){
    .h-uns-sm{
        height: unset !important;
    }
    .h-ini-sm{
        height: initial !important;
    }
    .h0-sm{height: 0 !important;}
    .h10-sm{height: 10% !important;}
    .h20-sm{height: 20% !important;}
    .h30-sm{height: 30% !important;}
    .h40-sm{height: 40% !important;}
    .h50-sm{height: 50% !important;}
    .h60-sm{height: 60% !important;}
    .h70-sm{height: 70% !important;}
    .h80-sm{height: 80% !important;}
    .h90-sm{height: 90% !important;}
    .h100-sm{height: 100% !important;}

    // rem
    .h0-rem-sm    {height: 0 !important;}
    .h01-rem-sm   {height: 0.1rem !important;}
    .h02-rem-sm   {height: 0.2rem !important;}
    .h03-rem-sm   {height: 0.3rem !important;}
    .h04-rem-sm   {height: 0.4rem !important;}
    .h05-rem-sm   {height: 0.5rem !important;}
    .h06-rem-sm   {height: 0.6rem !important;}
    .h07-rem-sm   {height: 0.7rem !important;}
    .h08-rem-sm   {height: 0.8rem !important;}
    .h09-rem-sm   {height: 0.9rem !important;}
    .h1-rem-sm    {height: 1rem !important;}
    .h2-rem-sm    {height: 2rem !important;}
    .h3-rem-sm    {height: 3rem !important;}
    .h4-rem-sm    {height: 4rem !important;}
    .h5-rem-sm    {height: 5rem !important;}
    .h6-rem-sm    {height: 6rem !important;}
    .h7-rem-sm    {height: 7rem !important;}
    .h8-rem-sm    {height: 8rem !important;}
    .h9-rem-sm    {height: 9rem !important;}

    // px
    .h0-px-sm   {height: 0 !important;}
    .h1-px-sm   {height: 1px !important;}
    .h2-px-sm   {height: 2px !important;}
    .h3-px-sm   {height: 3px !important;}
    .h4-px-sm   {height: 4px !important;}
    .h5-px-sm   {height: 5px !important;}
    .h6-px-sm   {height: 6px !important;}
    .h7-px-sm   {height: 7px !important;}
    .h8-px-sm   {height: 8px !important;}
    .h9-px-sm   {height: 9px !important;}
    .h10-px-sm  {height: 10px !important;}
    .h20-px-sm  {height: 20px !important;}
    .h30-px-sm  {height: 30px !important;}
    .h40-px-sm  {height: 40px !important;}
    .h50-px-sm  {height: 50px !important;}
    .h60-px-sm  {height: 60px !important;}
    .h70-px-sm  {height: 70px !important;}
    .h80-px-sm  {height: 80px !important;}
    .h90-px-sm  {height: 90px !important;}
    .h100-px-sm {height: 100px !important;}
    .h200-px-sm {height: 200px !important;}
    .h300-px-sm {height: 300px !important;}
    .h400-px-sm {height: 400px !important;}
}
@media only screen and (max-width: $xsScreen){
    .h-uns-xs{
        height: unset !important;
    }
    .h-ini-xs{
        height: initial !important;
    }
    .h0-xs{height: 0 !important;}
    .h10-xs{height: 10% !important;}
    .h20-xs{height: 20% !important;}
    .h30-xs{height: 30% !important;}
    .h40-xs{height: 40% !important;}
    .h50-xs{height: 50% !important;}
    .h60-xs{height: 60% !important;}
    .h70-xs{height: 70% !important;}
    .h80-xs{height: 80% !important;}
    .h90-xs{height: 90% !important;}
    .h100-xs{height: 100% !important;}

    // rem
    .h0-rem-xs    {height: 0 !important;}
    .h01-rem-xs   {height: 0.1rem !important;}
    .h02-rem-xs   {height: 0.2rem !important;}
    .h03-rem-xs   {height: 0.3rem !important;}
    .h04-rem-xs   {height: 0.4rem !important;}
    .h05-rem-xs   {height: 0.5rem !important;}
    .h06-rem-xs   {height: 0.6rem !important;}
    .h07-rem-xs   {height: 0.7rem !important;}
    .h08-rem-xs   {height: 0.8rem !important;}
    .h09-rem-xs   {height: 0.9rem !important;}
    .h1-rem-xs    {height: 1rem !important;}
    .h2-rem-xs    {height: 2rem !important;}
    .h3-rem-xs    {height: 3rem !important;}
    .h4-rem-xs    {height: 4rem !important;}
    .h5-rem-xs    {height: 5rem !important;}
    .h6-rem-xs    {height: 6rem !important;}
    .h7-rem-xs    {height: 7rem !important;}
    .h8-rem-xs    {height: 8rem !important;}
    .h9-rem-xs    {height: 9rem !important;}

    // px
    .h0-px-xs   {height: 0 !important;}
    .h1-px-xs   {height: 1px !important;}
    .h2-px-xs   {height: 2px !important;}
    .h3-px-xs   {height: 3px !important;}
    .h4-px-xs   {height: 4px !important;}
    .h5-px-xs   {height: 5px !important;}
    .h6-px-xs   {height: 6px !important;}
    .h7-px-xs   {height: 7px !important;}
    .h8-px-xs   {height: 8px !important;}
    .h9-px-xs   {height: 9px !important;}
    .h10-px-xs  {height: 10px !important;}
    .h20-px-xs  {height: 20px !important;}
    .h30-px-xs  {height: 30px !important;}
    .h40-px-xs  {height: 40px !important;}
    .h50-px-xs  {height: 50px !important;}
    .h60-px-xs  {height: 60px !important;}
    .h70-px-xs  {height: 70px !important;}
    .h80-px-xs  {height: 80px !important;}
    .h90-px-xs  {height: 90px !important;}
    .h100-px-xs {height: 100px !important;}
    .h200-px-xs {height: 200px !important;}
    .h300-px-xs {height: 300px !important;}
    .h400-px-xs {height: 400px !important;}
}


.h-uns{
    height: unset;
}
.h-ini{
    height: initial;
}
// %
.h0{height: 0;}
.h10{height: 10%;}
.h20{height: 20%;}
.h30{height: 30%;}
.h40{height: 40%;}
.h50{height: 50%;}
.h60{height: 60%;}
.h70{height: 70%;}
.h80{height: 80%;}
.h90{height: 90%;}
.h100{height: 100%;}

// rem
.h0-rem    {height: 0;}
.h01-rem   {height: 0.1rem;}
.h02-rem   {height: 0.2rem;}
.h03-rem   {height: 0.3rem;}
.h04-rem   {height: 0.4rem;}
.h05-rem   {height: 0.5rem;}
.h06-rem   {height: 0.6rem;}
.h07-rem   {height: 0.7rem;}
.h08-rem   {height: 0.8rem;}
.h09-rem   {height: 0.9rem;}
.h1-rem    {height: 1rem;}
.h2-rem    {height: 2rem;}
.h3-rem    {height: 3rem;}
.h4-rem    {height: 4rem;}
.h5-rem    {height: 5rem;}
.h6-rem    {height: 6rem;}
.h7-rem    {height: 7rem;}
.h8-rem    {height: 8rem;}
.h9-rem    {height: 9rem;}

// px
.h0-px   {height: 0;}
.h1-px   {height: 1px;}
.h2-px   {height: 2px;}
.h3-px   {height: 3px;}
.h4-px   {height: 4px;}
.h5-px   {height: 5px;}
.h6-px   {height: 6px;}
.h7-px   {height: 7px;}
.h8-px   {height: 8px;}
.h9-px   {height: 9px;}
.h10-px  {height: 10px;}
.h20-px  {height: 20px;}
.h30-px  {height: 30px;}
.h40-px  {height: 40px;}
.h50-px  {height: 50px;}
.h60-px  {height: 60px;}
.h70-px  {height: 70px;}
.h80-px  {height: 80px;}
.h90-px  {height: 90px;}
.h100-px {height: 100px;}
.h200-px {height: 200px;}
.h300-px {height: 300px;}
.h400-px {height: 400px;}