/////////////////////////////////////////////////////////////////////////////////////////
//                          Left
/////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width: $xxlScreen){
    .left-uns-xxl{
        left:unset !important;
    }
    .left-ini-xxl{
        left:initial !important;
    }
    .left0-xxl{left: 0 !important;}
    .left10-xxl{left: 10% !important;}
    .left20-xxl{left: 20% !important;}
    .left30-xxl{left: 30% !important;}
    .left40-xxl{left: 40% !important;}
    .left50-xxl{left: 50% !important;}
    .left60-xxl{left: 60% !important;}
    .left70-xxl{left: 70% !important;}
    .left80-xxl{left: 80% !important;}
    .left90-xxl{left: 90% !important;}
    .left100-xxl{left: 100% !important;}

    // rem
    .left0-rem-xxl    {left: 0 !important;}
    .left01-rem-xxl   {left: 0.1rem !important;}
    .left02-rem-xxl   {left: 0.2rem !important;}
    .left03-rem-xxl   {left: 0.3rem !important;}
    .left04-rem-xxl   {left: 0.4rem !important;}
    .left05-rem-xxl   {left: 0.5rem !important;}
    .left06-rem-xxl   {left: 0.6rem !important;}
    .left07-rem-xxl   {left: 0.7rem !important;}
    .left08-rem-xxl   {left: 0.8rem !important;}
    .left09-rem-xxl   {left: 0.9rem !important;}
    .left1-rem-xxl    {left: 1rem !important;}
    .left2-rem-xxl    {left: 2rem !important;}
    .left3-rem-xxl    {left: 3rem !important;}
    .left4-rem-xxl    {left: 4rem !important;}
    .left5-rem-xxl    {left: 5rem !important;}
    .left6-rem-xxl    {left: 6rem !important;}
    .left7-rem-xxl    {left: 7rem !important;}
    .left8-rem-xxl    {left: 8rem !important;}
    .left9-rem-xxl    {left: 9rem !important;}

    // px
    .left0-px-xxl   {left: 0 !important;}
    .left1-px-xxl   {left: 1px !important;}
    .left2-px-xxl   {left: 2px !important;}
    .left3-px-xxl   {left: 3px !important;}
    .left4-px-xxl   {left: 4px !important;}
    .left5-px-xxl   {left: 5px !important;}
    .left6-px-xxl   {left: 6px !important;}
    .left7-px-xxl   {left: 7px !important;}
    .left8-px-xxl   {left: 8px !important;}
    .left9-px-xxl   {left: 9px !important;}
    .left10-px-xxl  {left: 10px !important;}
    .left20-px-xxl  {left: 20px !important;}
    .left30-px-xxl  {left: 30px !important;}
    .left40-px-xxl  {left: 40px !important;}
    .left50-px-xxl  {left: 50px !important;}
    .left60-px-xxl  {left: 60px !important;}
    .left70-px-xxl  {left: 70px !important;}
    .left80-px-xxl  {left: 80px !important;}
    .left90-px-xxl  {left: 90px !important;}
    .left100-px-xxl {left: 100px !important;}
    .left200-px-xxl {left: 200px !important;}
    .left300-px-xxl {left: 300px !important;}
    .left400-px-xxl {left: 400px !important;}
}
@media only screen and (max-width: $xlScreen){
    .left-uns-xl{
        left: unset !important;
    }
    .left-ini-xl{
        left: initial !important;
    }
    .left0-xl{left: 0 !important;}
    .left10-xl{left: 10% !important;}
    .left20-xl{left: 20% !important;}
    .left30-xl{left: 30% !important;}
    .left40-xl{left: 40% !important;}
    .left50-xl{left: 50% !important;}
    .left60-xl{left: 60% !important;}
    .left70-xl{left: 70% !important;}
    .left80-xl{left: 80% !important;}
    .left90-xl{left: 90% !important;}
    .left100-xl{left: 100% !important;}

    // rem
    .left0-rem-xl    {left: 0 !important;}
    .left01-rem-xl   {left: 0.1rem !important;}
    .left02-rem-xl   {left: 0.2rem !important;}
    .left03-rem-xl   {left: 0.3rem !important;}
    .left04-rem-xl   {left: 0.4rem !important;}
    .left05-rem-xl   {left: 0.5rem !important;}
    .left06-rem-xl   {left: 0.6rem !important;}
    .left07-rem-xl   {left: 0.7rem !important;}
    .left08-rem-xl   {left: 0.8rem !important;}
    .left09-rem-xl   {left: 0.9rem !important;}
    .left1-rem-xl    {left: 1rem !important;}
    .left2-rem-xl    {left: 2rem !important;}
    .left3-rem-xl    {left: 3rem !important;}
    .left4-rem-xl    {left: 4rem !important;}
    .left5-rem-xl    {left: 5rem !important;}
    .left6-rem-xl    {left: 6rem !important;}
    .left7-rem-xl    {left: 7rem !important;}
    .left8-rem-xl    {left: 8rem !important;}
    .left9-rem-xl    {left: 9rem !important;}

    // px
    .left0-px-xl   {left: 0 !important;}
    .left1-px-xl   {left: 1px !important;}
    .left2-px-xl   {left: 2px !important;}
    .left3-px-xl   {left: 3px !important;}
    .left4-px-xl   {left: 4px !important;}
    .left5-px-xl   {left: 5px !important;}
    .left6-px-xl   {left: 6px !important;}
    .left7-px-xl   {left: 7px !important;}
    .left8-px-xl   {left: 8px !important;}
    .left9-px-xl   {left: 9px !important;}
    .left10-px-xl  {left: 10px !important;}
    .left20-px-xl  {left: 20px !important;}
    .left30-px-xl  {left: 30px !important;}
    .left40-px-xl  {left: 40px !important;}
    .left50-px-xl  {left: 50px !important;}
    .left60-px-xl  {left: 60px !important;}
    .left70-px-xl  {left: 70px !important;}
    .left80-px-xl  {left: 80px !important;}
    .left90-px-xl  {left: 90px !important;}
    .left100-px-xl {left: 100px !important;}
    .left200-px-xl {left: 200px !important;}
    .left300-px-xl {left: 300px !important;}
    .left400-px-xl {left: 400px !important;}
}
@media only screen and (max-width: $lgScreen){
    .left-uns-lg{
        left: unset !important;
    }
    .left-ini-lg{
        left: initial !important;
    }
    .left0-lg{left: 0 !important;}
    .left10-lg{left: 10% !important;}
    .left20-lg{left: 20% !important;}
    .left30-lg{left: 30% !important;}
    .left40-lg{left: 40% !important;}
    .left50-lg{left: 50% !important;}
    .left60-lg{left: 60% !important;}
    .left70-lg{left: 70% !important;}
    .left80-lg{left: 80% !important;}
    .left90-lg{left: 90% !important;}
    .left100-lg{left: 100% !important;}

    // rem
    .left0-rem-lg    {left: 0 !important;}
    .left01-rem-lg   {left: 0.1rem !important;}
    .left02-rem-lg   {left: 0.2rem !important;}
    .left03-rem-lg   {left: 0.3rem !important;}
    .left04-rem-lg   {left: 0.4rem !important;}
    .left05-rem-lg   {left: 0.5rem !important;}
    .left06-rem-lg   {left: 0.6rem !important;}
    .left07-rem-lg   {left: 0.7rem !important;}
    .left08-rem-lg   {left: 0.8rem !important;}
    .left09-rem-lg   {left: 0.9rem !important;}
    .left1-rem-lg    {left: 1rem !important;}
    .left2-rem-lg    {left: 2rem !important;}
    .left3-rem-lg    {left: 3rem !important;}
    .left4-rem-lg    {left: 4rem !important;}
    .left5-rem-lg    {left: 5rem !important;}
    .left6-rem-lg    {left: 6rem !important;}
    .left7-rem-lg    {left: 7rem !important;}
    .left8-rem-lg    {left: 8rem !important;}
    .left9-rem-lg    {left: 9rem !important;}

    // px
    .left0-px-lg   {left: 0 !important;}
    .left1-px-lg   {left: 1px !important;}
    .left2-px-lg   {left: 2px !important;}
    .left3-px-lg   {left: 3px !important;}
    .left4-px-lg   {left: 4px !important;}
    .left5-px-lg   {left: 5px !important;}
    .left6-px-lg   {left: 6px !important;}
    .left7-px-lg   {left: 7px !important;}
    .left8-px-lg   {left: 8px !important;}
    .left9-px-lg   {left: 9px !important;}
    .left10-px-lg  {left: 10px !important;}
    .left20-px-lg  {left: 20px !important;}
    .left30-px-lg  {left: 30px !important;}
    .left40-px-lg  {left: 40px !important;}
    .left50-px-lg  {left: 50px !important;}
    .left60-px-lg  {left: 60px !important;}
    .left70-px-lg  {left: 70px !important;}
    .left80-px-lg  {left: 80px !important;}
    .left90-px-lg  {left: 90px !important;}
    .left100-px-lg {left: 100px !important;}
    .left200-px-lg {left: 200px !important;}
    .left300-px-lg {left: 300px !important;}
    .left400-px-lg {left: 400px !important;}
}
@media only screen and (max-width: $mlScreen){
    .left-uns-ml{
        left: unset !important;
    }
    .left-ini-ml{
        left: initial !important;
    }
    .left0-ml{left: 0 !important;}
    .left10-ml{left: 10% !important;}
    .left20-ml{left: 20% !important;}
    .left30-ml{left: 30% !important;}
    .left40-ml{left: 40% !important;}
    .left50-ml{left: 50% !important;}
    .left60-ml{left: 60% !important;}
    .left70-ml{left: 70% !important;}
    .left80-ml{left: 80% !important;}
    .left90-ml{left: 90% !important;}
    .left100-ml{left: 100% !important;}

    // rem
    .left0-rem-ml    {left: 0 !important;}
    .left01-rem-ml   {left: 0.1rem !important;}
    .left02-rem-ml   {left: 0.2rem !important;}
    .left03-rem-ml   {left: 0.3rem !important;}
    .left04-rem-ml   {left: 0.4rem !important;}
    .left05-rem-ml   {left: 0.5rem !important;}
    .left06-rem-ml   {left: 0.6rem !important;}
    .left07-rem-ml   {left: 0.7rem !important;}
    .left08-rem-ml   {left: 0.8rem !important;}
    .left09-rem-ml   {left: 0.9rem !important;}
    .left1-rem-ml    {left: 1rem !important;}
    .left2-rem-ml    {left: 2rem !important;}
    .left3-rem-ml    {left: 3rem !important;}
    .left4-rem-ml    {left: 4rem !important;}
    .left5-rem-ml    {left: 5rem !important;}
    .left6-rem-ml    {left: 6rem !important;}
    .left7-rem-ml    {left: 7rem !important;}
    .left8-rem-ml    {left: 8rem !important;}
    .left9-rem-ml    {left: 9rem !important;}

    // px
    .left0-px-ml   {left: 0 !important;}
    .left1-px-ml   {left: 1px !important;}
    .left2-px-ml   {left: 2px !important;}
    .left3-px-ml   {left: 3px !important;}
    .left4-px-ml   {left: 4px !important;}
    .left5-px-ml   {left: 5px !important;}
    .left6-px-ml   {left: 6px !important;}
    .left7-px-ml   {left: 7px !important;}
    .left8-px-ml   {left: 8px !important;}
    .left9-px-ml   {left: 9px !important;}
    .left10-px-ml  {left: 10px !important;}
    .left20-px-ml  {left: 20px !important;}
    .left30-px-ml  {left: 30px !important;}
    .left40-px-ml  {left: 40px !important;}
    .left50-px-ml  {left: 50px !important;}
    .left60-px-ml  {left: 60px !important;}
    .left70-px-ml  {left: 70px !important;}
    .left80-px-ml  {left: 80px !important;}
    .left90-px-ml  {left: 90px !important;}
    .left100-px-ml {left: 100px !important;}
    .left200-px-ml {left: 200px !important;}
    .left300-px-ml {left: 300px !important;}
    .left400-px-ml {left: 400px !important;}
}
@media only screen and (max-width: $mdScreen){
    .left-uns-md{
        left: unset !important;
    }
    .left-ini-md{
        left: initial !important;
    }
    .left0-md{left: 0 !important;}
    .left10-md{left: 10% !important;}
    .left20-md{left: 20% !important;}
    .left30-md{left: 30% !important;}
    .left40-md{left: 40% !important;}
    .left50-md{left: 50% !important;}
    .left60-md{left: 60% !important;}
    .left70-md{left: 70% !important;}
    .left80-md{left: 80% !important;}
    .left90-md{left: 90% !important;}
    .left100-md{left: 100% !important;}

    // rem
    .left0-rem-md    {left: 0 !important;}
    .left01-rem-md   {left: 0.1rem !important;}
    .left02-rem-md   {left: 0.2rem !important;}
    .left03-rem-md   {left: 0.3rem !important;}
    .left04-rem-md   {left: 0.4rem !important;}
    .left05-rem-md   {left: 0.5rem !important;}
    .left06-rem-md   {left: 0.6rem !important;}
    .left07-rem-md   {left: 0.7rem !important;}
    .left08-rem-md   {left: 0.8rem !important;}
    .left09-rem-md   {left: 0.9rem !important;}
    .left1-rem-md    {left: 1rem !important;}
    .left2-rem-md    {left: 2rem !important;}
    .left3-rem-md    {left: 3rem !important;}
    .left4-rem-md    {left: 4rem !important;}
    .left5-rem-md    {left: 5rem !important;}
    .left6-rem-md    {left: 6rem !important;}
    .left7-rem-md    {left: 7rem !important;}
    .left8-rem-md    {left: 8rem !important;}
    .left9-rem-md    {left: 9rem !important;}

    // px
    .left0-px-md   {left: 0 !important;}
    .left1-px-md   {left: 1px !important;}
    .left2-px-md   {left: 2px !important;}
    .left3-px-md   {left: 3px !important;}
    .left4-px-md   {left: 4px !important;}
    .left5-px-md   {left: 5px !important;}
    .left6-px-md   {left: 6px !important;}
    .left7-px-md   {left: 7px !important;}
    .left8-px-md   {left: 8px !important;}
    .left9-px-md   {left: 9px !important;}
    .left10-px-md  {left: 10px !important;}
    .left20-px-md  {left: 20px !important;}
    .left30-px-md  {left: 30px !important;}
    .left40-px-md  {left: 40px !important;}
    .left50-px-md  {left: 50px !important;}
    .left60-px-md  {left: 60px !important;}
    .left70-px-md  {left: 70px !important;}
    .left80-px-md  {left: 80px !important;}
    .left90-px-md  {left: 90px !important;}
    .left100-px-md {left: 100px !important;}
    .left200-px-md {left: 200px !important;}
    .left300-px-md {left: 300px !important;}
    .left400-px-md {left: 400px !important;}
}
@media only screen and (max-width: $smScreen){
    .left-uns-sm{
        left: unset !important;
    }
    .left-ini-sm{
        left: initial !important;
    }
    .left0-sm{left: 0 !important;}
    .left10-sm{left: 10% !important;}
    .left20-sm{left: 20% !important;}
    .left30-sm{left: 30% !important;}
    .left40-sm{left: 40% !important;}
    .left50-sm{left: 50% !important;}
    .left60-sm{left: 60% !important;}
    .left70-sm{left: 70% !important;}
    .left80-sm{left: 80% !important;}
    .left90-sm{left: 90% !important;}
    .left100-sm{left: 100% !important;}

    // rem
    .left0-rem-sm    {left: 0 !important;}
    .left01-rem-sm   {left: 0.1rem !important;}
    .left02-rem-sm   {left: 0.2rem !important;}
    .left03-rem-sm   {left: 0.3rem !important;}
    .left04-rem-sm   {left: 0.4rem !important;}
    .left05-rem-sm   {left: 0.5rem !important;}
    .left06-rem-sm   {left: 0.6rem !important;}
    .left07-rem-sm   {left: 0.7rem !important;}
    .left08-rem-sm   {left: 0.8rem !important;}
    .left09-rem-sm   {left: 0.9rem !important;}
    .left1-rem-sm    {left: 1rem !important;}
    .left2-rem-sm    {left: 2rem !important;}
    .left3-rem-sm    {left: 3rem !important;}
    .left4-rem-sm    {left: 4rem !important;}
    .left5-rem-sm    {left: 5rem !important;}
    .left6-rem-sm    {left: 6rem !important;}
    .left7-rem-sm    {left: 7rem !important;}
    .left8-rem-sm    {left: 8rem !important;}
    .left9-rem-sm    {left: 9rem !important;}

    // px
    .left0-px-sm   {left: 0 !important;}
    .left1-px-sm   {left: 1px !important;}
    .left2-px-sm   {left: 2px !important;}
    .left3-px-sm   {left: 3px !important;}
    .left4-px-sm   {left: 4px !important;}
    .left5-px-sm   {left: 5px !important;}
    .left6-px-sm   {left: 6px !important;}
    .left7-px-sm   {left: 7px !important;}
    .left8-px-sm   {left: 8px !important;}
    .left9-px-sm   {left: 9px !important;}
    .left10-px-sm  {left: 10px !important;}
    .left20-px-sm  {left: 20px !important;}
    .left30-px-sm  {left: 30px !important;}
    .left40-px-sm  {left: 40px !important;}
    .left50-px-sm  {left: 50px !important;}
    .left60-px-sm  {left: 60px !important;}
    .left70-px-sm  {left: 70px !important;}
    .left80-px-sm  {left: 80px !important;}
    .left90-px-sm  {left: 90px !important;}
    .left100-px-sm {left: 100px !important;}
    .left200-px-sm {left: 200px !important;}
    .left300-px-sm {left: 300px !important;}
    .left400-px-sm {left: 400px !important;}
}
@media only screen and (max-width: $xsScreen){
    .left-uns-xs{
        left: unset !important;
    }
    .left-ini-xs{
        left: initial !important;
    }
    .left0-xs{left: 0 !important;}
    .left10-xs{left: 10% !important;}
    .left20-xs{left: 20% !important;}
    .left30-xs{left: 30% !important;}
    .left40-xs{left: 40% !important;}
    .left50-xs{left: 50% !important;}
    .left60-xs{left: 60% !important;}
    .left70-xs{left: 70% !important;}
    .left80-xs{left: 80% !important;}
    .left90-xs{left: 90% !important;}
    .left100-xs{left: 100% !important;}

    // rem
    .left0-rem-xs    {left: 0 !important;}
    .left01-rem-xs   {left: 0.1rem !important;}
    .left02-rem-xs   {left: 0.2rem !important;}
    .left03-rem-xs   {left: 0.3rem !important;}
    .left04-rem-xs   {left: 0.4rem !important;}
    .left05-rem-xs   {left: 0.5rem !important;}
    .left06-rem-xs   {left: 0.6rem !important;}
    .left07-rem-xs   {left: 0.7rem !important;}
    .left08-rem-xs   {left: 0.8rem !important;}
    .left09-rem-xs   {left: 0.9rem !important;}
    .left1-rem-xs    {left: 1rem !important;}
    .left2-rem-xs    {left: 2rem !important;}
    .left3-rem-xs    {left: 3rem !important;}
    .left4-rem-xs    {left: 4rem !important;}
    .left5-rem-xs    {left: 5rem !important;}
    .left6-rem-xs    {left: 6rem !important;}
    .left7-rem-xs    {left: 7rem !important;}
    .left8-rem-xs    {left: 8rem !important;}
    .left9-rem-xs    {left: 9rem !important;}

    // px
    .left0-px-xs   {left: 0 !important;}
    .left1-px-xs   {left: 1px !important;}
    .left2-px-xs   {left: 2px !important;}
    .left3-px-xs   {left: 3px !important;}
    .left4-px-xs   {left: 4px !important;}
    .left5-px-xs   {left: 5px !important;}
    .left6-px-xs   {left: 6px !important;}
    .left7-px-xs   {left: 7px !important;}
    .left8-px-xs   {left: 8px !important;}
    .left9-px-xs   {left: 9px !important;}
    .left10-px-xs  {left: 10px !important;}
    .left20-px-xs  {left: 20px !important;}
    .left30-px-xs  {left: 30px !important;}
    .left40-px-xs  {left: 40px !important;}
    .left50-px-xs  {left: 50px !important;}
    .left60-px-xs  {left: 60px !important;}
    .left70-px-xs  {left: 70px !important;}
    .left80-px-xs  {left: 80px !important;}
    .left90-px-xs  {left: 90px !important;}
    .left100-px-xs {left: 100px !important;}
    .left200-px-xs {left: 200px !important;}
    .left300-px-xs {left: 300px !important;}
    .left400-px-xs {left: 400px !important;}
}


.left-uns{
    left: unset;
}
.left-ini{
    left: initial;
}
// %
.left0{left: 0;}
.left10{left: 10%;}
.left20{left: 20%;}
.left30{left: 30%;}
.left40{left: 40%;}
.left50{left: 50%;}
.left60{left: 60%;}
.left70{left: 70%;}
.left80{left: 80%;}
.left90{left: 90%;}
.left100{left: 100%;}

// rem
.left0-rem    {left: 0;}
.left01-rem   {left: 0.1rem;}
.left02-rem   {left: 0.2rem;}
.left03-rem   {left: 0.3rem;}
.left04-rem   {left: 0.4rem;}
.left05-rem   {left: 0.5rem;}
.left06-rem   {left: 0.6rem;}
.left07-rem   {left: 0.7rem;}
.left08-rem   {left: 0.8rem;}
.left09-rem   {left: 0.9rem;}
.left1-rem    {left: 1rem;}
.left2-rem    {left: 2rem;}
.left3-rem    {left: 3rem;}
.left4-rem    {left: 4rem;}
.left5-rem    {left: 5rem;}
.left6-rem    {left: 6rem;}
.left7-rem    {left: 7rem;}
.left8-rem    {left: 8rem;}
.left9-rem    {left: 9rem;}

// px
.left0-px   {left: 0;}
.left1-px   {left: 1px;}
.left2-px   {left: 2px;}
.left3-px   {left: 3px;}
.left4-px   {left: 4px;}
.left5-px   {left: 5px;}
.left6-px   {left: 6px;}
.left7-px   {left: 7px;}
.left8-px   {left: 8px;}
.left9-px   {left: 9px;}
.left10-px  {left: 10px;}
.left20-px  {left: 20px;}
.left30-px  {left: 30px;}
.left40-px  {left: 40px;}
.left50-px  {left: 50px;}
.left60-px  {left: 60px;}
.left70-px  {left: 70px;}
.left80-px  {left: 80px;}
.left90-px  {left: 90px;}
.left100-px {left: 100px;}
.left200-px {left: 200px;}
.left300-px {left: 300px;}
.left400-px {left: 400px;}