/////////////////////////////////////////////////////////////////////////////////////////
//                          Left
/////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width: $xxlScreen){
    .right-uns-xxl{
        right:unset !important;
    }
    .right-ini-xxl{
        right:initial !important;
    }
    .right0-xxl{right: 0 !important;}
    .right10-xxl{right: 10% !important;}
    .right20-xxl{right: 20% !important;}
    .right30-xxl{right: 30% !important;}
    .right40-xxl{right: 40% !important;}
    .right50-xxl{right: 50% !important;}
    .right60-xxl{right: 60% !important;}
    .right70-xxl{right: 70% !important;}
    .right80-xxl{right: 80% !important;}
    .right90-xxl{right: 90% !important;}
    .right100-xxl{right: 100% !important;}

    // rem
    .right0-rem-xxl    {right: 0 !important;}
    .right01-rem-xxl   {right: 0.1rem !important;}
    .right02-rem-xxl   {right: 0.2rem !important;}
    .right03-rem-xxl   {right: 0.3rem !important;}
    .right04-rem-xxl   {right: 0.4rem !important;}
    .right05-rem-xxl   {right: 0.5rem !important;}
    .right06-rem-xxl   {right: 0.6rem !important;}
    .right07-rem-xxl   {right: 0.7rem !important;}
    .right08-rem-xxl   {right: 0.8rem !important;}
    .right09-rem-xxl   {right: 0.9rem !important;}
    .right1-rem-xxl    {right: 1rem !important;}
    .right2-rem-xxl    {right: 2rem !important;}
    .right3-rem-xxl    {right: 3rem !important;}
    .right4-rem-xxl    {right: 4rem !important;}
    .right5-rem-xxl    {right: 5rem !important;}
    .right6-rem-xxl    {right: 6rem !important;}
    .right7-rem-xxl    {right: 7rem !important;}
    .right8-rem-xxl    {right: 8rem !important;}
    .right9-rem-xxl    {right: 9rem !important;}

    // px
    .right0-px-xxl   {right: 0 !important;}
    .right1-px-xxl   {right: 1px !important;}
    .right2-px-xxl   {right: 2px !important;}
    .right3-px-xxl   {right: 3px !important;}
    .right4-px-xxl   {right: 4px !important;}
    .right5-px-xxl   {right: 5px !important;}
    .right6-px-xxl   {right: 6px !important;}
    .right7-px-xxl   {right: 7px !important;}
    .right8-px-xxl   {right: 8px !important;}
    .right9-px-xxl   {right: 9px !important;}
    .right10-px-xxl  {right: 10px !important;}
    .right20-px-xxl  {right: 20px !important;}
    .right30-px-xxl  {right: 30px !important;}
    .right40-px-xxl  {right: 40px !important;}
    .right50-px-xxl  {right: 50px !important;}
    .right60-px-xxl  {right: 60px !important;}
    .right70-px-xxl  {right: 70px !important;}
    .right80-px-xxl  {right: 80px !important;}
    .right90-px-xxl  {right: 90px !important;}
    .right100-px-xxl {right: 100px !important;}
    .right200-px-xxl {right: 200px !important;}
    .right300-px-xxl {right: 300px !important;}
    .right400-px-xxl {right: 400px !important;}
}
@media only screen and (max-width: $xlScreen){
    .right-uns-xl{
        right: unset !important;
    }
    .right-ini-xl{
        right: initial !important;
    }
    .right0-xl{right: 0 !important;}
    .right10-xl{right: 10% !important;}
    .right20-xl{right: 20% !important;}
    .right30-xl{right: 30% !important;}
    .right40-xl{right: 40% !important;}
    .right50-xl{right: 50% !important;}
    .right60-xl{right: 60% !important;}
    .right70-xl{right: 70% !important;}
    .right80-xl{right: 80% !important;}
    .right90-xl{right: 90% !important;}
    .right100-xl{right: 100% !important;}

    // rem
    .right0-rem-xl    {right: 0 !important;}
    .right01-rem-xl   {right: 0.1rem !important;}
    .right02-rem-xl   {right: 0.2rem !important;}
    .right03-rem-xl   {right: 0.3rem !important;}
    .right04-rem-xl   {right: 0.4rem !important;}
    .right05-rem-xl   {right: 0.5rem !important;}
    .right06-rem-xl   {right: 0.6rem !important;}
    .right07-rem-xl   {right: 0.7rem !important;}
    .right08-rem-xl   {right: 0.8rem !important;}
    .right09-rem-xl   {right: 0.9rem !important;}
    .right1-rem-xl    {right: 1rem !important;}
    .right2-rem-xl    {right: 2rem !important;}
    .right3-rem-xl    {right: 3rem !important;}
    .right4-rem-xl    {right: 4rem !important;}
    .right5-rem-xl    {right: 5rem !important;}
    .right6-rem-xl    {right: 6rem !important;}
    .right7-rem-xl    {right: 7rem !important;}
    .right8-rem-xl    {right: 8rem !important;}
    .right9-rem-xl    {right: 9rem !important;}

    // px
    .right0-px-xl   {right: 0 !important;}
    .right1-px-xl   {right: 1px !important;}
    .right2-px-xl   {right: 2px !important;}
    .right3-px-xl   {right: 3px !important;}
    .right4-px-xl   {right: 4px !important;}
    .right5-px-xl   {right: 5px !important;}
    .right6-px-xl   {right: 6px !important;}
    .right7-px-xl   {right: 7px !important;}
    .right8-px-xl   {right: 8px !important;}
    .right9-px-xl   {right: 9px !important;}
    .right10-px-xl  {right: 10px !important;}
    .right20-px-xl  {right: 20px !important;}
    .right30-px-xl  {right: 30px !important;}
    .right40-px-xl  {right: 40px !important;}
    .right50-px-xl  {right: 50px !important;}
    .right60-px-xl  {right: 60px !important;}
    .right70-px-xl  {right: 70px !important;}
    .right80-px-xl  {right: 80px !important;}
    .right90-px-xl  {right: 90px !important;}
    .right100-px-xl {right: 100px !important;}
    .right200-px-xl {right: 200px !important;}
    .right300-px-xl {right: 300px !important;}
    .right400-px-xl {right: 400px !important;}
}
@media only screen and (max-width: $lgScreen){
    .right-uns-lg{
        right: unset !important;
    }
    .right-ini-lg{
        right: initial !important;
    }
    .right0-lg{right: 0 !important;}
    .right10-lg{right: 10% !important;}
    .right20-lg{right: 20% !important;}
    .right30-lg{right: 30% !important;}
    .right40-lg{right: 40% !important;}
    .right50-lg{right: 50% !important;}
    .right60-lg{right: 60% !important;}
    .right70-lg{right: 70% !important;}
    .right80-lg{right: 80% !important;}
    .right90-lg{right: 90% !important;}
    .right100-lg{right: 100% !important;}

    // rem
    .right0-rem-lg    {right: 0 !important;}
    .right01-rem-lg   {right: 0.1rem !important;}
    .right02-rem-lg   {right: 0.2rem !important;}
    .right03-rem-lg   {right: 0.3rem !important;}
    .right04-rem-lg   {right: 0.4rem !important;}
    .right05-rem-lg   {right: 0.5rem !important;}
    .right06-rem-lg   {right: 0.6rem !important;}
    .right07-rem-lg   {right: 0.7rem !important;}
    .right08-rem-lg   {right: 0.8rem !important;}
    .right09-rem-lg   {right: 0.9rem !important;}
    .right1-rem-lg    {right: 1rem !important;}
    .right2-rem-lg    {right: 2rem !important;}
    .right3-rem-lg    {right: 3rem !important;}
    .right4-rem-lg    {right: 4rem !important;}
    .right5-rem-lg    {right: 5rem !important;}
    .right6-rem-lg    {right: 6rem !important;}
    .right7-rem-lg    {right: 7rem !important;}
    .right8-rem-lg    {right: 8rem !important;}
    .right9-rem-lg    {right: 9rem !important;}

    // px
    .right0-px-lg   {right: 0 !important;}
    .right1-px-lg   {right: 1px !important;}
    .right2-px-lg   {right: 2px !important;}
    .right3-px-lg   {right: 3px !important;}
    .right4-px-lg   {right: 4px !important;}
    .right5-px-lg   {right: 5px !important;}
    .right6-px-lg   {right: 6px !important;}
    .right7-px-lg   {right: 7px !important;}
    .right8-px-lg   {right: 8px !important;}
    .right9-px-lg   {right: 9px !important;}
    .right10-px-lg  {right: 10px !important;}
    .right20-px-lg  {right: 20px !important;}
    .right30-px-lg  {right: 30px !important;}
    .right40-px-lg  {right: 40px !important;}
    .right50-px-lg  {right: 50px !important;}
    .right60-px-lg  {right: 60px !important;}
    .right70-px-lg  {right: 70px !important;}
    .right80-px-lg  {right: 80px !important;}
    .right90-px-lg  {right: 90px !important;}
    .right100-px-lg {right: 100px !important;}
    .right200-px-lg {right: 200px !important;}
    .right300-px-lg {right: 300px !important;}
    .right400-px-lg {right: 400px !important;}
}
@media only screen and (max-width: $mlScreen){
    .right-uns-ml{
        right: unset !important;
    }
    .right-ini-ml{
        right: initial !important;
    }
    .right0-ml{right: 0 !important;}
    .right10-ml{right: 10% !important;}
    .right20-ml{right: 20% !important;}
    .right30-ml{right: 30% !important;}
    .right40-ml{right: 40% !important;}
    .right50-ml{right: 50% !important;}
    .right60-ml{right: 60% !important;}
    .right70-ml{right: 70% !important;}
    .right80-ml{right: 80% !important;}
    .right90-ml{right: 90% !important;}
    .right100-ml{right: 100% !important;}

    // rem
    .right0-rem-ml    {right: 0 !important;}
    .right01-rem-ml   {right: 0.1rem !important;}
    .right02-rem-ml   {right: 0.2rem !important;}
    .right03-rem-ml   {right: 0.3rem !important;}
    .right04-rem-ml   {right: 0.4rem !important;}
    .right05-rem-ml   {right: 0.5rem !important;}
    .right06-rem-ml   {right: 0.6rem !important;}
    .right07-rem-ml   {right: 0.7rem !important;}
    .right08-rem-ml   {right: 0.8rem !important;}
    .right09-rem-ml   {right: 0.9rem !important;}
    .right1-rem-ml    {right: 1rem !important;}
    .right2-rem-ml    {right: 2rem !important;}
    .right3-rem-ml    {right: 3rem !important;}
    .right4-rem-ml    {right: 4rem !important;}
    .right5-rem-ml    {right: 5rem !important;}
    .right6-rem-ml    {right: 6rem !important;}
    .right7-rem-ml    {right: 7rem !important;}
    .right8-rem-ml    {right: 8rem !important;}
    .right9-rem-ml    {right: 9rem !important;}

    // px
    .right0-px-ml   {right: 0 !important;}
    .right1-px-ml   {right: 1px !important;}
    .right2-px-ml   {right: 2px !important;}
    .right3-px-ml   {right: 3px !important;}
    .right4-px-ml   {right: 4px !important;}
    .right5-px-ml   {right: 5px !important;}
    .right6-px-ml   {right: 6px !important;}
    .right7-px-ml   {right: 7px !important;}
    .right8-px-ml   {right: 8px !important;}
    .right9-px-ml   {right: 9px !important;}
    .right10-px-ml  {right: 10px !important;}
    .right20-px-ml  {right: 20px !important;}
    .right30-px-ml  {right: 30px !important;}
    .right40-px-ml  {right: 40px !important;}
    .right50-px-ml  {right: 50px !important;}
    .right60-px-ml  {right: 60px !important;}
    .right70-px-ml  {right: 70px !important;}
    .right80-px-ml  {right: 80px !important;}
    .right90-px-ml  {right: 90px !important;}
    .right100-px-ml {right: 100px !important;}
    .right200-px-ml {right: 200px !important;}
    .right300-px-ml {right: 300px !important;}
    .right400-px-ml {right: 400px !important;}
}
@media only screen and (max-width: $mdScreen){
    .right-uns-md{
        right: unset !important;
    }
    .right-ini-md{
        right: initial !important;
    }
    .right0-md{right: 0 !important;}
    .right10-md{right: 10% !important;}
    .right20-md{right: 20% !important;}
    .right30-md{right: 30% !important;}
    .right40-md{right: 40% !important;}
    .right50-md{right: 50% !important;}
    .right60-md{right: 60% !important;}
    .right70-md{right: 70% !important;}
    .right80-md{right: 80% !important;}
    .right90-md{right: 90% !important;}
    .right100-md{right: 100% !important;}

    // rem
    .right0-rem-md    {right: 0 !important;}
    .right01-rem-md   {right: 0.1rem !important;}
    .right02-rem-md   {right: 0.2rem !important;}
    .right03-rem-md   {right: 0.3rem !important;}
    .right04-rem-md   {right: 0.4rem !important;}
    .right05-rem-md   {right: 0.5rem !important;}
    .right06-rem-md   {right: 0.6rem !important;}
    .right07-rem-md   {right: 0.7rem !important;}
    .right08-rem-md   {right: 0.8rem !important;}
    .right09-rem-md   {right: 0.9rem !important;}
    .right1-rem-md    {right: 1rem !important;}
    .right2-rem-md    {right: 2rem !important;}
    .right3-rem-md    {right: 3rem !important;}
    .right4-rem-md    {right: 4rem !important;}
    .right5-rem-md    {right: 5rem !important;}
    .right6-rem-md    {right: 6rem !important;}
    .right7-rem-md    {right: 7rem !important;}
    .right8-rem-md    {right: 8rem !important;}
    .right9-rem-md    {right: 9rem !important;}

    // px
    .right0-px-md   {right: 0 !important;}
    .right1-px-md   {right: 1px !important;}
    .right2-px-md   {right: 2px !important;}
    .right3-px-md   {right: 3px !important;}
    .right4-px-md   {right: 4px !important;}
    .right5-px-md   {right: 5px !important;}
    .right6-px-md   {right: 6px !important;}
    .right7-px-md   {right: 7px !important;}
    .right8-px-md   {right: 8px !important;}
    .right9-px-md   {right: 9px !important;}
    .right10-px-md  {right: 10px !important;}
    .right20-px-md  {right: 20px !important;}
    .right30-px-md  {right: 30px !important;}
    .right40-px-md  {right: 40px !important;}
    .right50-px-md  {right: 50px !important;}
    .right60-px-md  {right: 60px !important;}
    .right70-px-md  {right: 70px !important;}
    .right80-px-md  {right: 80px !important;}
    .right90-px-md  {right: 90px !important;}
    .right100-px-md {right: 100px !important;}
    .right200-px-md {right: 200px !important;}
    .right300-px-md {right: 300px !important;}
    .right400-px-md {right: 400px !important;}
}
@media only screen and (max-width: $smScreen){
    .right-uns-sm{
        right: unset !important;
    }
    .right-ini-sm{
        right: initial !important;
    }
    .right0-sm{right: 0 !important;}
    .right10-sm{right: 10% !important;}
    .right20-sm{right: 20% !important;}
    .right30-sm{right: 30% !important;}
    .right40-sm{right: 40% !important;}
    .right50-sm{right: 50% !important;}
    .right60-sm{right: 60% !important;}
    .right70-sm{right: 70% !important;}
    .right80-sm{right: 80% !important;}
    .right90-sm{right: 90% !important;}
    .right100-sm{right: 100% !important;}

    // rem
    .right0-rem-sm    {right: 0 !important;}
    .right01-rem-sm   {right: 0.1rem !important;}
    .right02-rem-sm   {right: 0.2rem !important;}
    .right03-rem-sm   {right: 0.3rem !important;}
    .right04-rem-sm   {right: 0.4rem !important;}
    .right05-rem-sm   {right: 0.5rem !important;}
    .right06-rem-sm   {right: 0.6rem !important;}
    .right07-rem-sm   {right: 0.7rem !important;}
    .right08-rem-sm   {right: 0.8rem !important;}
    .right09-rem-sm   {right: 0.9rem !important;}
    .right1-rem-sm    {right: 1rem !important;}
    .right2-rem-sm    {right: 2rem !important;}
    .right3-rem-sm    {right: 3rem !important;}
    .right4-rem-sm    {right: 4rem !important;}
    .right5-rem-sm    {right: 5rem !important;}
    .right6-rem-sm    {right: 6rem !important;}
    .right7-rem-sm    {right: 7rem !important;}
    .right8-rem-sm    {right: 8rem !important;}
    .right9-rem-sm    {right: 9rem !important;}

    // px
    .right0-px-sm   {right: 0 !important;}
    .right1-px-sm   {right: 1px !important;}
    .right2-px-sm   {right: 2px !important;}
    .right3-px-sm   {right: 3px !important;}
    .right4-px-sm   {right: 4px !important;}
    .right5-px-sm   {right: 5px !important;}
    .right6-px-sm   {right: 6px !important;}
    .right7-px-sm   {right: 7px !important;}
    .right8-px-sm   {right: 8px !important;}
    .right9-px-sm   {right: 9px !important;}
    .right10-px-sm  {right: 10px !important;}
    .right20-px-sm  {right: 20px !important;}
    .right30-px-sm  {right: 30px !important;}
    .right40-px-sm  {right: 40px !important;}
    .right50-px-sm  {right: 50px !important;}
    .right60-px-sm  {right: 60px !important;}
    .right70-px-sm  {right: 70px !important;}
    .right80-px-sm  {right: 80px !important;}
    .right90-px-sm  {right: 90px !important;}
    .right100-px-sm {right: 100px !important;}
    .right200-px-sm {right: 200px !important;}
    .right300-px-sm {right: 300px !important;}
    .right400-px-sm {right: 400px !important;}
}
@media only screen and (max-width: $xsScreen){
    .right-uns-xs{
        right: unset !important;
    }
    .right-ini-xs{
        right: initial !important;
    }
    .right0-xs{right: 0 !important;}
    .right10-xs{right: 10% !important;}
    .right20-xs{right: 20% !important;}
    .right30-xs{right: 30% !important;}
    .right40-xs{right: 40% !important;}
    .right50-xs{right: 50% !important;}
    .right60-xs{right: 60% !important;}
    .right70-xs{right: 70% !important;}
    .right80-xs{right: 80% !important;}
    .right90-xs{right: 90% !important;}
    .right100-xs{right: 100% !important;}

    // rem
    .right0-rem-xs    {right: 0 !important;}
    .right01-rem-xs   {right: 0.1rem !important;}
    .right02-rem-xs   {right: 0.2rem !important;}
    .right03-rem-xs   {right: 0.3rem !important;}
    .right04-rem-xs   {right: 0.4rem !important;}
    .right05-rem-xs   {right: 0.5rem !important;}
    .right06-rem-xs   {right: 0.6rem !important;}
    .right07-rem-xs   {right: 0.7rem !important;}
    .right08-rem-xs   {right: 0.8rem !important;}
    .right09-rem-xs   {right: 0.9rem !important;}
    .right1-rem-xs    {right: 1rem !important;}
    .right2-rem-xs    {right: 2rem !important;}
    .right3-rem-xs    {right: 3rem !important;}
    .right4-rem-xs    {right: 4rem !important;}
    .right5-rem-xs    {right: 5rem !important;}
    .right6-rem-xs    {right: 6rem !important;}
    .right7-rem-xs    {right: 7rem !important;}
    .right8-rem-xs    {right: 8rem !important;}
    .right9-rem-xs    {right: 9rem !important;}

    // px
    .right0-px-xs   {right: 0 !important;}
    .right1-px-xs   {right: 1px !important;}
    .right2-px-xs   {right: 2px !important;}
    .right3-px-xs   {right: 3px !important;}
    .right4-px-xs   {right: 4px !important;}
    .right5-px-xs   {right: 5px !important;}
    .right6-px-xs   {right: 6px !important;}
    .right7-px-xs   {right: 7px !important;}
    .right8-px-xs   {right: 8px !important;}
    .right9-px-xs   {right: 9px !important;}
    .right10-px-xs  {right: 10px !important;}
    .right20-px-xs  {right: 20px !important;}
    .right30-px-xs  {right: 30px !important;}
    .right40-px-xs  {right: 40px !important;}
    .right50-px-xs  {right: 50px !important;}
    .right60-px-xs  {right: 60px !important;}
    .right70-px-xs  {right: 70px !important;}
    .right80-px-xs  {right: 80px !important;}
    .right90-px-xs  {right: 90px !important;}
    .right100-px-xs {right: 100px !important;}
    .right200-px-xs {right: 200px !important;}
    .right300-px-xs {right: 300px !important;}
    .right400-px-xs {right: 400px !important;}
}


.right-uns{
    right: unset;
}
.right-ini{
    right: initial;
}
// %
.right0{right: 0;}
.right10{right: 10%;}
.right20{right: 20%;}
.right30{right: 30%;}
.right40{right: 40%;}
.right50{right: 50%;}
.right60{right: 60%;}
.right70{right: 70%;}
.right80{right: 80%;}
.right90{right: 90%;}
.right100{right: 100%;}

// rem
.right0-rem    {right: 0;}
.right01-rem   {right: 0.1rem;}
.right02-rem   {right: 0.2rem;}
.right03-rem   {right: 0.3rem;}
.right04-rem   {right: 0.4rem;}
.right05-rem   {right: 0.5rem;}
.right06-rem   {right: 0.6rem;}
.right07-rem   {right: 0.7rem;}
.right08-rem   {right: 0.8rem;}
.right09-rem   {right: 0.9rem;}
.right1-rem    {right: 1rem;}
.right2-rem    {right: 2rem;}
.right3-rem    {right: 3rem;}
.right4-rem    {right: 4rem;}
.right5-rem    {right: 5rem;}
.right6-rem    {right: 6rem;}
.right7-rem    {right: 7rem;}
.right8-rem    {right: 8rem;}
.right9-rem    {right: 9rem;}

// px
.right0-px   {right: 0;}
.right1-px   {right: 1px;}
.right2-px   {right: 2px;}
.right3-px   {right: 3px;}
.right4-px   {right: 4px;}
.right5-px   {right: 5px;}
.right6-px   {right: 6px;}
.right7-px   {right: 7px;}
.right8-px   {right: 8px;}
.right9-px   {right: 9px;}
.right10-px  {right: 10px;}
.right20-px  {right: 20px;}
.right30-px  {right: 30px;}
.right40-px  {right: 40px;}
.right50-px  {right: 50px;}
.right60-px  {right: 60px;}
.right70-px  {right: 70px;}
.right80-px  {right: 80px;}
.right90-px  {right: 90px;}
.right100-px {right: 100px;}
.right200-px {right: 200px;}
.right300-px {right: 300px;}
.right400-px {right: 400px;}