@media only screen and (max-width: $xxlScreen){
    .w-uns-xxl{bottom: unset !important;}
    .w-ini-xxl{bottom: initial !important;}
    .w0-xxl{width: 0 !important;}
    .w5-xxl{width: 5% !important;}
    .w10-xxl{width: 10% !important;}
    .w15-xxl{width: 15% !important;}
    .w20-xxl{width: 20% !important;}
    .w25-xxl{width: 25% !important;}
    .w30-xxl{width: 30% !important;}
    .w35-xxl{width: 35% !important;}
    .w40-xxl{width: 40% !important;}
    .w45-xxl{width: 45% !important;}
    .w50-xxl{width: 50% !important;}
    .w55-xxl{width: 55% !important;}
    .w60-xxl{width: 60% !important;}
    .w65-xxl{width: 65% !important;}
    .w70-xxl{width: 70% !important;}
    .w75-xxl{width: 75% !important;}
    .w80-xxl{width: 80% !important;}
    .w85-xxl{width: 85% !important;}
    .w90-xxl{width: 90% !important;}
    .w95-xxl{width: 95% !important;}
    .w100-xxl{width: 100% !important;}
}
@media only screen and (max-width: $xlScreen){
    .w-uns-xl{bottom: unset !important;}
    .w-ini-xl{bottom: initial !important;}
    .w0-xl{width: 0 !important;}
    .w5-xl{width: 5% !important;}
    .w10-xl{width: 10% !important;}
    .w15-xl{width: 15% !important;}
    .w20-xl{width: 20% !important;}
    .w25-xl{width: 25% !important;}
    .w30-xl{width: 30% !important;}
    .w35-xl{width: 35% !important;}
    .w40-xl{width: 40% !important;}
    .w45-xl{width: 45% !important;}
    .w50-xl{width: 50% !important;}
    .w55-xl{width: 55% !important;}
    .w60-xl{width: 60% !important;}
    .w65-xl{width: 65% !important;}
    .w70-xl{width: 70% !important;}
    .w75-xl{width: 75% !important;}
    .w80-xl{width: 80% !important;}
    .w85-xl{width: 85% !important;}
    .w90-xl{width: 90% !important;}
    .w95-xl{width: 95% !important;}
    .w100-xl{width: 100% !important;}

}
@media only screen and (max-width: $lgScreen){
    .w-uns-lg{bottom: unset !important;}
    .w-ini-lg{bottom: initial !important;}
    .w0-lg{width: 0 !important;}
    .w5-lg{width: 5% !important;}
    .w10-lg{width: 10% !important;}
    .w15-lg{width: 15% !important;}
    .w20-lg{width: 20% !important;}
    .w25-lg{width: 25% !important;}
    .w30-lg{width: 30% !important;}
    .w35-lg{width: 35% !important;}
    .w40-lg{width: 40% !important;}
    .w45-lg{width: 45% !important;}
    .w50-lg{width: 50% !important;}
    .w55-lg{width: 55% !important;}
    .w60-lg{width: 60% !important;}
    .w65-lg{width: 65% !important;}
    .w70-lg{width: 70% !important;}
    .w75-lg{width: 75% !important;}
    .w80-lg{width: 80% !important;}
    .w85-lg{width: 85% !important;}
    .w90-lg{width: 90% !important;}
    .w95-lg{width: 95% !important;}
    .w100-lg{width: 100% !important;}
}
@media only screen and (max-width: $mlScreen){
    .w-uns-ml{bottom: unset !important;}
    .w-ini-ml{bottom: initial !important;}
    .w0-ml{width: 0 !important;}
    .w5-ml{width: 5% !important;}
    .w10-ml{width: 10% !important;}
    .w15-ml{width: 15% !important;}
    .w20-ml{width: 20% !important;}
    .w25-ml{width: 25% !important;}
    .w30-ml{width: 30% !important;}
    .w35-ml{width: 35% !important;}
    .w40-ml{width: 40% !important;}
    .w45-ml{width: 45% !important;}
    .w50-ml{width: 50% !important;}
    .w55-ml{width: 55% !important;}
    .w60-ml{width: 60% !important;}
    .w65-ml{width: 65% !important;}
    .w70-ml{width: 70% !important;}
    .w75-ml{width: 75% !important;}
    .w80-ml{width: 80% !important;}
    .w85-ml{width: 85% !important;}
    .w90-ml{width: 90% !important;}
    .w95-ml{width: 95% !important;}
    .w100-ml{width: 100% !important;}
}
@media only screen and (max-width: $mdScreen){
    .w-uns-md{bottom: unset !important;}
    .w-ini-md{bottom: initial !important;}
    .w0-md{width: 0 !important;}
    .w5-md{width: 5% !important;}
    .w10-md{width: 10% !important;}
    .w15-md{width: 15% !important;}
    .w20-md{width: 20% !important;}
    .w25-md{width: 25% !important;}
    .w30-md{width: 30% !important;}
    .w35-md{width: 35% !important;}
    .w40-md{width: 40% !important;}
    .w45-md{width: 45% !important;}
    .w50-md{width: 50% !important;}
    .w55-md{width: 55% !important;}
    .w60-md{width: 60% !important;}
    .w65-md{width: 65% !important;}
    .w70-md{width: 70% !important;}
    .w75-md{width: 75% !important;}
    .w80-md{width: 80% !important;}
    .w85-md{width: 85% !important;}
    .w90-md{width: 90% !important;}
    .w95-md{width: 95% !important;}
    .w100-md{width: 100% !important;}
}
@media only screen and (max-width: $smScreen){
    .w-uns-sm{bottom: unset !important;}
    .w-ini-sm{bottom: initial !important;}
    .w0-sm{width: 0 !important;}
    .w5-sm{width: 5% !important;}
    .w10-sm{width: 10% !important;}
    .w15-sm{width: 15% !important;}
    .w20-sm{width: 20% !important;}
    .w25-sm{width: 25% !important;}
    .w30-sm{width: 30% !important;}
    .w35-sm{width: 35% !important;}
    .w40-sm{width: 40% !important;}
    .w45-sm{width: 45% !important;}
    .w50-sm{width: 50% !important;}
    .w55-sm{width: 55% !important;}
    .w60-sm{width: 60% !important;}
    .w65-sm{width: 65% !important;}
    .w70-sm{width: 70% !important;}
    .w75-sm{width: 75% !important;}
    .w80-sm{width: 80% !important;}
    .w85-sm{width: 85% !important;}
    .w90-sm{width: 90% !important;}
    .w95-sm{width: 95% !important;}
    .w100-sm{width: 100% !important;}
}
@media only screen and (max-width: $xsScreen){
    .w-uns-xs{bottom: unset !important;}
    .w-ini-xs{bottom: initial !important;}
    .w0-xs{width: 0 !important;}
    .w5-xs{width: 5% !important;}
    .w10-xs{width: 10% !important;}
    .w15-xs{width: 15% !important;}
    .w20-xs{width: 20% !important;}
    .w25-xs{width: 25% !important;}
    .w30-xs{width: 30% !important;}
    .w35-xs{width: 35% !important;}
    .w40-xs{width: 40% !important;}
    .w45-xs{width: 45% !important;}
    .w50-xs{width: 50% !important;}
    .w55-xs{width: 55% !important;}
    .w60-xs{width: 60% !important;}
    .w65-xs{width: 65% !important;}
    .w70-xs{width: 70% !important;}
    .w75-xs{width: 75% !important;}
    .w80-xs{width: 80% !important;}
    .w85-xs{width: 85% !important;}
    .w90-xs{width: 90% !important;}
    .w95-xs{width: 95% !important;}
    .w100-xs{width: 100% !important;}
}
.w-uns{bottom: unset;}
.w-ini{bottom: initial;}
.w0{width: 0;}
.w5{width: 5%;}
.w10{width: 10%;}
.w15{width: 15%;}
.w20{width: 20%;}
.w25{width: 25%;}
.w30{width: 30%;}
.w35{width: 35%;}
.w40{width: 40%;}
.w45{width: 45%;}
.w50{width: 50%;}
.w55{width: 55%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w95{width: 95%;}
.w100{width: 100%;}

